<!-- Remove Lovely Hood in title -->
<%= content_for(:title) do %>
  Inscription
<% end %>
<%= content_for(:description) do %>
  S'inscrire et publier dès maintenant une annonce
<% end %>
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3">
      <div class="white-bg frame text-center">
        <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <%- if devise_mapping.omniauthable? %>
            <%- resource_class.omniauth_providers.each do |provider| %>
              <%= link_to "Inscription avec #{provider.to_s}", omniauth_authorize_path(resource_name, provider), class: "btn btn-facebook btn-wide" %><br />
            <% end -%>
          <% end -%>
          <br>
          <div class="btn btn-default btn-hide-on-click margin-btm-10 btn-wide">Inscription avec un email</div>
          <div class="hidden">
            <div class="text-align-left">
              <%= f.email_field :email, label: "Email", required: true %>
              <% if @validatable %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, label: "Mot de passe", autocomplete: "off", required: true %>
              <%= f.password_field :password_confirmation, label: "Confirmation mot de passe", autocomplete: "off", required: true %>
            </div>
            <%= f.submit "Créer un compte", class: "btn btn-primary btn-wide"%>
          </div>
        <% end %>
        <p class="mini border-btm-light text-left">
          En créant un compte, vous acceptez les <%= link_to "Conditions générales", terms_path %> de lovely hood.
        </p>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>


<% content_for(:js) do %>
  <script>
    $(document).ready(function() {
    $('.btn-hide-on-click').on('click', function(event) {
       $('.hidden').removeClass('hidden');
       $(this).addClass('hidden');
      });
    });
  </script>
<% end %>