<a href="<%= conversation_path(conversation, anchor: "message-input") %>", class="conversation-preview-link">
  <div class="conversation-preview">
    <div class="row">
      <div class="col-xs-3">
        <% if conversation.other_user(current_user).picture_file_name %>
          <%= image_tag(conversation.other_user(current_user).picture.url(:medium), { class: "img-thumbnail img-inbox" }) %>
        <% else %>
          <%= image_tag "logo.png", class: "img-thumbnail img-inbox bg-color" %>
        <% end %>
      </div>
      <div class="col-xs-6">
        <p class="margin-btm-5"><strong><%= conversation.other_user(current_user).first_name %></strong></p>
        <%= simple_format(conversation.messages.sort_by(&:updated_at).last.content.size >= 20 ? conversation.messages.sort_by(&:updated_at).last.content[0..19] + "..." : conversation.messages.sort_by(&:updated_at).last.content) %>
      </div>
      <div class="col-xs-3">
        <p class="small gray-lighter"><%= conversation.messages.sort_by(&:updated_at).last.created_at.strftime("%e %B") %></p>
      </div>
    </div>
  </div>
</a>