<div class="conversation-preview">
  <div class="row">
    <div class="col-xs-1">
      <% if conversation.other_user(current_user).picture_file_name %>
        <%= image_tag(conversation.other_user(current_user).picture.url(:medium), { class: "img img-circle img-small img-nature" }) %>
      <% else %>
        <%= image_tag "logo.png", class: "img-circle img-nature img-small bg-color" %>
      <% end %>
    </div>
    <div class="col-xs-2 padding-left-10">
      <p class="margin-btm-5"><%= link_to conversation.other_user(current_user).first_name, user_path(conversation.other_user(current_user)), class:"message-profile-link" %></p>
      <p class="small"><%= conversation.messages.sort_by(&:updated_at).last.created_at.strftime("%e %B") %></p>
    </div>
    <div class="col-xs-9">
      <%= link_to conversation.messages.sort_by(&:updated_at).last.content, conversation_path(conversation, anchor: "message-input"), class: "link-unstyled" %>
    </div>
  </div>
</div>
