<%= form_for([@offer, @conversation]) do |f| %>
  <%= f.fields_for :messages do |m| %>
    <div class="form-group">
      <%= m.label :content, "Message", class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= m.text_area :content, class: "form-control" %>
      </div>
    </div>
  <% end %>

  <div class="form-group margin-btm-none">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-10">
      <%= f.submit "Envoyer", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>