<%= content_for(:title) do %>
  Boîte de réception <%= current_user.unread_conversations > 0 ? "(" + current_user.unread_conversations.to_s + ") " : "" %>- LH
<% end %>
<%= content_for(:description) do %>
  Communiquez facilement avec vos voisins grâce à notre messagerie interne, pour faciliter vos recherches de biens et services ou demander conseil pour créer des annonces !
<% end %>
<div class="container">
  <div class="row">
    <div class="col-md-4 inbox">
      <div class="panel panel-default margin-top-15 padding-none white-bg" id="panel-inbox">
        <div class="panel-heading border-btm-light">
          <h4>Boîte de réception</h4>
        </div>
        <div class="panel-body padding-none panel-body-inbox ">
          <% current_user.conversations.sort_by { |c| c.messages.last.created_at }.reverse.each do |conversation| %>
            <% if conversation.messages.select { |message| message.writer != current_user }.map { |message| message.read_at }.include? nil %>
              <%= render "conversation_with_unread_messages", conversation: conversation %>
            <% else %>
              <%= render "conversation", conversation: conversation %>
            <% end %>
          <% end %>
          <div class="conversation-preview" id="no-highlight">
            <p class="small margin-btm-3 gray-lighter text-center">
              Fin des messages
            </p>
          </div>
        </div>
      </div>
    </div>



    <div class="col-md-8 conversation">
      <div class="panel panel-default margin-top-15 padding-none" id="panel-conversation">
        <div class="panel-heading border-btm-light">
          <h4>
            <% if @conversation.user1 == current_user %>
              <%= @conversation.user2.first_name %>
            <% else %>
              <%= @conversation.user1.first_name %>
            <% end %>
          </h4>
        </div>
        <div class="panel-body panel-body-conversation padding-none">
          <div id="messages">
            <div class="stick-down-target padding-5">
              <p class="small gray-lighter text-center">
                Conversation avec
                <% if @conversation.user1 == current_user %>
                  <%= @conversation.user2.first_name %>
                <% else %>
                  <%= @conversation.user1.first_name %>
                <% end %> débutée le <%= @conversation.created_at.strftime("%A, %e %B à %H:%M") %>
              </p>
            </div>
            <% @conversation.messages.sort_by(&:updated_at).each do |message| %>
              <%= render "message", message: message %>
            <% end %>
          </div>
          <div class="col-xs-12 stick-down-target reply">
            <%= form_for([@conversation, @message], method: :put, remote: true, url: reply_conversation_path(@conversation)) do |f| %>
              <div class="form-group margin-btm-10">
                <%= f.text_area :content, value:"", placeholder: "Votre réponse...", class: "form-control", id: "message-input" %>
              </div>
              <div class="form-group margin-btm-none">
                <%= f.submit "Envoyer", class: "btn btn-primary" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= content_for(:js) do %>
  <%= javascript_tag do %>
    $(document).ready(function(e) {
      togglePaddingAndBorder();
      stickDown();
      $(window).on('resize', function() {
        togglePaddingAndBorder();
        stickDown();
      })
      $('#messages-nav-link').addClass("hover");
      $("#messages").niceScroll({
        cursorwidth: "10px",
        cursorcolor: "#ddd",
        cursoropacitymin: 1,
        background: "#f8f8f8",
        cursorborder: "1px solid #fff",
      });
      $(".panel-body-inbox").niceScroll({
        cursorwidth: "10px",
        cursorcolor: "#ddd",
        cursoropacitymin: 1,
        background: "#f8f8f8",
        cursorborder: "1px solid #fff"
      });
      $('#messages').scrollTop($('#messages')[0].scrollHeight);
      stylizeConversationPreview();
    });
  <% end %>
<% end %>
