<%= content_for(:title) do %>
  <%= t('.title', number: current_user.unread_conversations > 0 ? "(" + current_user.unread_conversations.to_s + ") " : "") %>
<% end %>
<%= content_for(:description) do %>
  <%= t('.description') %>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-md-4 inbox">
      <div class="panel panel-default margin-top-15 padding-none white-bg" id="panel-inbox">
        <div class="panel-heading border-btm-light">
          <h4><%= t('.inbox') %></h4>
        </div>
        <div class="panel-body padding-none panel-body-inbox ">
          <div class="loader"> </div>
          <%= react_component "ConversationList",
              render(template: 'conversations/show.json.jbuilder') %>
          <div class="conversation-preview" id="no-highlight">
            <p class="small margin-btm-3 gray-lighter text-center">
              <%= t('.end_of_messages') %>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8 conversation">
      <div class="panel panel-default margin-top-15 padding-none" id="panel-conversation">
        <div class="panel-heading border-btm-light">
          <h4>
            <% if @conversation.user1 == current_user %>
              <%= @conversation.user2.first_name %>
            <% else %>
              <%= @conversation.user1.first_name %>
            <% end %>
          </h4>
        </div>
        <div class="panel-body panel-body-conversation padding-none">
          <div id="messages">
            <div class="stick-down-target padding-5">
              <p class="small gray-lighter text-center">
                <%= t('.conversation_with') %>
                <% if @conversation.user1 == current_user %>
                  <%= @conversation.user2.first_name %>
                <% else %>
                  <%= @conversation.user1.first_name %>
                <% end %> <%= t('.started_on') %> <%= l(@conversation.created_at, format: "%A %e %B à %Hh%M") %>
              </p>
            </div>
            <div class="loader"> </div>
            <%= react_component "MessageList",
              render(template: 'conversations/show.json.jbuilder') %>
          </div>
          <div class="col-xs-12 stick-down-target reply">
            <%= form_for([@conversation, @message], method: :put, remote: true, url: reply_conversation_path(@conversation)) do |f| %>
              <div class="form-group margin-btm-10">
                <%= f.text_area :content, value:"", placeholder: "Votre réponse...", class: "form-control", id: "message-input" %>
              </div>
              <div class="form-group margin-btm-none text-right">
                <%= f.submit t('.submit'), class: "btn btn-primary" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= content_for(:js) do %>
  <%= javascript_tag do %>
    $(document).ready(function(e) {
      $('.loader').remove()
      togglePaddingAndBorder();
      stickDown();
      $(window).on('resize', function() {
        togglePaddingAndBorder();
        stickDown();
      })
      $('#messages-nav-link').addClass("hover");
      $("#messages").niceScroll({
        cursorwidth: "10px",
        cursorcolor: "#ddd",
        cursoropacitymin: 1,
        background: "#f8f8f8",
        cursorborder: "1px solid #fff",
      });
      $(".panel-body-inbox").niceScroll({
        cursorwidth: "10px",
        cursorcolor: "#ddd",
        cursoropacitymin: 1,
        background: "#f8f8f8",
        cursorborder: "1px solid #fff"
      });
      $('#messages').scrollTop($('#messages')[0].scrollHeight);
      stylizeConversationPreview();
    });
  <% end %>
<% end %>