<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <h2>
        Conversation avec
        <% if @conversation.user1 == current_user %>
          <%= @conversation.user2.first_name %>
        <% else %>
          <%= @conversation.user1.first_name %>
        <% end %>
      </h2>
      <div class="frame padding-none margin-sides-none">
        <% @conversation.messages.each do |message| %>
            <div class="message white-bg col-xs-12">
              <div class="message-date">
                <%= message.created_at.strftime("%A, %e %B") %>
              </div>
              <div class="message-content">
                <div class="col-xs-1">
                  <% if message.writer.picture_file_name %>
                    <%= image_tag(message.writer.picture.url(:medium), { class: "img img-circle img-small img-nature" }) %>
                  <% else %>
                    <%= image_tag "logo.png", class: "img-circle img-nature img-small bg-color" %>
                  <% end %>
                </div>
                <div class="col-xs-11 padding-left-10">
                  <h5 class="margin-none"><%= link_to message.writer.first_name, user_path(message.writer), class: "message-profile-link" %></h5>
                        <p class=""><%= message.content %></p>
                </div>
              </div>
            </div>
        <% end %>
        <div class="reply">
          <%= form_for([@conversation, @message], method: :put, url: reply_conversation_path(@conversation)) do |f| %>
            <div class="form-group">
              <%= f.text_area :content, value:"", placeholder: "Votre réponse...", class: "form-control" %>
            </div>
            <div class="form-group margin-btm-none">
              <%= f.submit "Envoyer", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>