<%= form_for([@offer, @booking]) do |f| %>
  <% if @offer.type_of_offer == "rent" %>
    <div class="form-group">
      <%= f.label :start_date, t('.start_date'), class: "col-xs-2 text-right control-label" %>
      <div class="col-xs-10">
        <%= f.text_field :start_date, value: Date.today.strftime('%d/%m/%Y'), class: "form-control datepicker", id: "start-date" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :end_date, t('.end_date'), class: "col-xs-2 text-right control-label" %>
      <div class="col-xs-10">
        <%= f.text_field :end_date, value: (Date.today + 1).strftime('%d/%m/%Y'), class: "form-control datepicker", id: "end-date" %>
      </div>
    </div>
  <% elsif @offer.type_of_offer == "service" %>
    <div class="row">
      <div class="col-xs-12">
        <div class="col-xs-6">
          <div class="form-group">
            <%= f.label :start_date, t('.from'), class: "col-xs-2 text-right control-label" %>
            <div class="col-xs-10">
              <%= f.text_field :start_date, value: Date.today.strftime('%d/%m/%Y'), class: "form-control datepicker", id: "start-date" %>
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <%= f.label :start_hour, t('.at'), class: "col-xs-2 text-right control-label" %>
            <div class="col-xs-10 padding-top-7">
              <%= f.time_select :start_hour, value: Time.new(Time.now.year, Time.now.month, Time.now.day, Time.now.hour + 3, 0), minute_step: 30, class: "form-control" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="col-xs-6">
          <div class="form-group">
            <%= f.label :end_date, t('.to'), class: "col-xs-2 text-right control-label" %>
            <div class="col-xs-10">
              <%= f.text_field :end_date, value: (Date.today).strftime('%d/%m/%Y'), class: "form-control datepicker", id: "end-date" %>
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <%= f.label :end_hour, t('.at'), class: "col-xs-2 text-right control-label" %>
            <div class="col-xs-10 padding-top-7">
              <%= f.time_select :end_hour, minute_step: 30, class: "form-control" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="col-xs-6">
          <div class="form-group">
            <div class="col-xs-2 padding-left-none text-right">
              <b><%= t('.hours') %></b>
            </div>
            <div class="col-xs-10">
              <p id="service-hours">0</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% elsif @offer.type_of_offer == "sell" %>
    <div class="form-group">
      <%= f.label :start_date, t('.date'), class: "col-xs-2 text-right control-label" %>
      <div class="col-xs-10">
        <%= f.text_field :start_date, value: Date.today.strftime('%d/%m/%Y'), class: "form-control datepicker", id: "start-date" %>
      </div>
    </div>
    <div class="form-group hidden">
      <%= f.label :end_date, "Fin", class: "col-xs-2 text-right control-label" %>
      <div class="col-xs-10">
        <%= f.date_field :end_date, class: "form-control", id: "end-date" %>
      </div>
    </div>
  <% end %>
  <% if @offer.type_of_offer == "rent" %>
    <div class="form-group margin-btm-none">
      <div class="col-xs-2">
        <b style="float:right;"><%= t('.days') %></b>
      </div>
      <div class="col-xs-10">
        <p id="renting-days">1</p>
      </div>
    </div>
    <div class="hidden">
      <div class="form-group margin-btm-none">
        <div class="col-xs-2">
          <b style="float:right;"><%= t('.pricing') %></b>
        </div>
        <div class="col-xs-10">
          <% if @offer.daily_price %>
            <ul class="list-unstyled list-inline strong" id="daily-price">
              <li><%= @offer.daily_price + t('.currency') %></li><li class="pull-right"><%= t('.per_day') %></li>
            </ul>
          <% end %>
          <% if @offer.weekly_price %>
            <ul class="list-unstyled list-inline" id="weekly-price">
              <li><%= @offer.weekly_price + t('.currency') %></li><li class="pull-right"><%= t('.per_week') %></li>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
    <div class="form-group margin-btm-none">
      <div class="col-xs-2">
      </div>
      <div class="col-xs-10">
        <p>
          Sur la base du prix de <b id="renting-price"><%= @offer.daily_price ? @offer.daily_price : @offer.weekly_price %></b><b>€</b> et des frais de services associés, votre réservation de <%= @booking.offer.nature %> pour <b id="renting-days-sentence">1</b> jour(s) s'élève à <b id="renting-total"><%= @offer.daily_price ? (@offer.daily_price * 1.08).round : (@offer.weekly_price / 7 * 1.08).round %></b><b>€</b>
        </p>
      </div>
    </div>
    <div class="form-group margin-btm-none">
      <div class="col-xs-2">
      </div>
      <div class="col-xs-10">
        <%= f.submit "Réserver", class: "btn btn-primary" %>
      </div>
    </div>
  <% elsif @offer.type_of_offer == "service"  %>
    <div class="row">
      <div class="col-xs-12">
        <div class="col-xs-6">
          <div class="form-group hidden">
            <div class="col-xs-2">
              <b style="float:right;">Tarif</b>
            </div>
            <div class="col-xs-10">
              <% if @offer.hourly_price %>
                <ul class="list-unstyled list-inline margin-btm-none">
                  <li><%= @offer.hourly_price %>€</li><li class="pull-right">Par heure</li>
                </ul>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <ul class="list-unstyled list-inline margin-btm-none">
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="col-xs-1">
        </div>
        <div class="col-xs-11">
          <p>
            Sur la base du prix de <b id="service-price"><%= @offer.hourly_price %></b><b>€</b> et des frais de services associés, votre réservation de <%= @booking.offer.nature %> pour <b id="service-hours-sentence">0</b> heure(s) s'élève à <b id="service-total">0</b><b>€</b>
          </p>
        </div>
      </div>
    </div>
    <div class="form-group margin-btm-none">
      <div class="col-xs-6">
        <div class="col-xs-2">
        </div>
        <div class="col-xs-10">
          <%= f.submit "Réserver", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% elsif @offer.type_of_offer == "sell"  %>
    <div class="form-group margin-btm-none">
      <div class="col-xs-2">
      </div>
      <div class="col-xs-10">
        <p>
          En cliquant sur le bouton "Envoyer" ci-dessous, une simple demande de rendez-vous est envoyée au propriétaire de l'annonce.
          <br>
          Ainsi, vous aurez la possibilité de voir l'article avant de prendre une décision quant à l'achat.
        </p>
      </div>
    </div>
    <div class="form-group margin-btm-none">
      <div class="col-xs-2">
      </div>
      <div class="col-xs-10">
        <%= f.submit "Envoyer", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
<% end %>
