<%= form_for([@offer, @booking]) do |f| %>
  <% if @offer.type_of_offer == "rent" %>
    <div class="form-group">
      <%= f.label :start_date, "Début", class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.date_field :start_date, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :end_date, "Fin", class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.date_field :end_date, class: "form-control" %>
      </div>
    </div>

  <% elsif @offer.type_of_offer == "service" %>

    <div class="col-xs-6">
      <div class="form-group">
        <%= f.label :start_date, "Du", class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.date_field :start_date, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="col-xs-6">
      <div class="form-group">
        <%= f.label :start_hour, "à", class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.time_field :start_hour, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="col-xs-6">
      <div class="form-group">
        <%= f.label :end_date, "au", class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.date_field :end_date, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="col-xs-6">
      <div class="form-group">
        <%= f.label :end_hour, "à", class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.time_field :end_hour, class: "form-control" %>
        </div>
      </div>
    </div>

  <% elsif @offer.type_of_offer == "sell" %>
    <p>TO DO : système de paiement direct</p>
  <% end %>

  <br>
  <div class="form-group margin-btm-none">
    <div class="col-xs-12">
      <div class="col-sm-1">
      </div>
      <div class="col-sm-11">
        <%= f.submit "Réserver", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>

<% content_for(:js) do %>
  <%= javascript_tag do %>
  <% end %>
<% end %>