<%= form_for([@offer, @booking]) do |f| %>
  <% if @offer.type_of_offer == "rent" %>
    <div class="form-group">
      <%= f.label :start_date, "Début", class: "col-xs-2 text-right control-label" %>
      <div class="col-xs-10">
        <%= f.date_field :start_date, min: Date.today, class: "form-control", id: "start-date" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :end_date, "Fin", class: "col-xs-2 text-right control-label" %>
      <div class="col-xs-10">
        <%= f.date_field :end_date, min: Date.today + 1, class: "form-control", id: "end-date" %>
      </div>
    </div>

  <% elsif @offer.type_of_offer == "service" %>

    <div class="col-xs-6">
      <div class="form-group">
        <%= f.label :start_date, "Du", class: "col-xs-2 text-right control-label" %>
        <div class="col-xs-10">
          <%= f.date_field :start_date, class: "form-control", id: "start-date" %>
        </div>
      </div>
    </div>

    <div class="col-xs-6">
      <div class="form-group">
        <%= f.label :start_hour, "à", class: "col-xs-2 text-right control-label" %>
        <div class="col-xs-10">
          <%= f.time_field :start_hour, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="col-xs-6">
      <div class="form-group">
        <%= f.label :end_date, "au", class: "col-xs-2 text-right control-label" %>
        <div class="col-xs-10">
          <%= f.date_field :end_date, class: "form-control", id: "end-date" %>
        </div>
      </div>
    </div>

    <div class="col-xs-6">
      <div class="form-group">
        <%= f.label :end_hour, "à", class: "col-xs-2 text-right control-label" %>
        <div class="col-xs-10">
          <%= f.time_field :end_hour, class: "form-control" %>
        </div>
      </div>
    </div>

  <% elsif @offer.type_of_offer == "sell" %>
    <div class="form-group">
      <%= f.label :start_date, "Date", class: "col-xs-2 text-right control-label" %>
      <div class="col-xs-10">
        <%= f.date_field :start_date, class: "form-control", id: "start-date" %>
      </div>
    </div>
    <div class="form-group hidden">
      <%= f.label :end_date, "Fin", class: "col-xs-2 text-right control-label" %>
      <div class="col-xs-10">
        <%= f.date_field :end_date, class: "form-control", id: "end-date" %>
      </div>
    </div>
  <% end %>

  <br>
  <% if @offer.type_of_offer == "rent" %>
    <div class="form-group margin-btm-none">
      <div class="col-xs-2">
      </div>
      <div class="col-xs-10">
        <%= f.submit "Réserver", class: "btn btn-primary" %>
      </div>
    </div>
  <% elsif @offer.type_of_offer == "service"  %>
    <div class="form-group margin-btm-none">
      <div class="col-xs-6">
        <div class="col-xs-2">
        </div>
        <div class="col-xs-10">
          <%= f.submit "Réserver", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% elsif @offer.type_of_offer == "sell"  %>
    <div class="form-group margin-btm-none">
      <div class="col-xs-2">
      </div>
      <div class="col-xs-10">
        <%= f.submit "Envoyer", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
<% end %>

<% content_for(:js) do %>
  <%= javascript_tag do %>
    $(document).ready(function(e) {
      var startDate;
      $("#start-date").on('change', function() {
        startDate = $(this).val();
        $("#end-date").val(startDate);
        $("#end-date").attr('min', startDate);
      })
    });
  <% end %>
<% end %>
