<h1>Vous avez une réservation : <%= @booking.offer.nature %></h1>

<p><%= link_to @booking.user.first_name, user_path(@booking.user) %> souhaiterait réserver <%= @booking.offer.nature %>, du <strong><%= @booking.start_date.strftime("%-d %b %Y") %></strong> au <strong><%= @booking.end_date.strftime("%-d %b %Y") %></strong></p>

<p>Vous pourriez gagner : <strong><%= @booking.booking_price %>€</strong></p>