<h1>Vous avez une demande de service : <%= @booking.offer.nature %></h1>

<h3>De la part de <%= link_to @booking.user.first_name, user_path(@booking.user) %></h3>

<p><%= link_to @booking.user.first_name, user_path(@booking.user) %> te sollicite pour un service : <%= @booking.offer.nature %>, du <strong><%= @booking.start_date.strftime("%-d %b %Y") %></strong> à <strong><%= @booking.start_hour.strftime("%H:%M") %></strong> au <strong><%= @booking.end_date.strftime("%-d %b %Y") %></strong> à <strong><%= @booking.end_hour.strftime("%H:%M") %></strong></p>

<p>Vous pourriez gagner : <strong><%= @booking.booking_price %>€</strong></p>