<div class="container">
  <div class="row">
    <div class="col-xs-12 white-bg padding-btm-15 margin-top-20 padding-sides-30">
      <h1>Vous avez une demande de réservation sur <%= @booking.offer.title %></h1>

      <h3>Votre guest est <%= link_to @booking.user.first_name, user_path(@booking.user) %></h3>

      <p>La période concernée va du <strong><%= @booking.start_date %></strong> au <strong><%= @booking.end_date %></strong></p>

      <p>Le nombre de nuits : <%= (@booking.end_date - @booking.start_date).to_i %> nuits</p>

      <p>Vous pourriez gagner : <strong><%= (@booking.end_date - @booking.start_date).to_i * @booking.offer.price %> <%= @booking.offer.currency %></strong></p>
    </div>
    <div class="col-xs-12 white-bg padding-btm-15">
      <%= simple_form_for(@booking, method: :patch, url: offer_booking_path, html:{ multipart: true, class: "col-xs-1" }) do |f| %>
          <%= f.input :accepted, as: :hidden, input_html: { value: true } %>
          <%= f.submit 'Accepter', class: "btn btn-success" %>
      <% end %>
      <%= simple_form_for(@booking, method: :patch, url: offer_booking_path, html:{ multipart: true, class: "col-xs-1" }) do |f| %>
          <%= f.input :accepted, as: :hidden, input_html: { value: false } %>
          <%= f.submit 'Refuser', class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>
</div>
<br>
<br>
