<%= content_for(:title) do %>
  Lovely hood - <%= @booking.offer.nature %>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="panel panel-default margin-top-20 max-width-300 padding-none border-none transparent-bg">
        <div class="panel-body padding-none border-none transparent-bg">
          <!-- si l'offer est un service, la photo est celle du user -->
          <% if @booking.offer.type_of_offer =="service" %>
            <% if @booking.offer.user.picture_file_name %>
              <%= image_tag(@booking.offer.user.picture.url(:medium), { class: "img img-lovely" }) %>
            <% else %>
              <%= image_tag "#{@booking.offer.nature}.png", class: "img img-lovely" %>
            <% end %>
          <!-- sinon c'est la photo de l'annonce, obligatoire à la création -->
          <% else %>
            <% if @booking.offer.picture_file_name %>
              <%= image_tag(@booking.offer.picture.url(:medium), { class: "img img-lovely" }) %>
            <% else %>
              <%= image_tag("no-image.png", { class: "img img-lovely" }) %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="panel panel-default max-width-300 padding-none">
        <div class="panel-body border-none">
          <%= form_for([@booking.offer, @booking]) do |f| %>
            <%= f.text_field :accepted, class: "hidden", value: true %>
            <%= f.submit 'Accepter', class: "btn btn-success btn-wide" %>
          <% end %>
          <br>
          <% if current_user.conversation_with(@booking.user) %>
            <%= link_to conversation_path(current_user.conversation_with(@booking.user), anchor: "message-input"), class: "btn btn-default btn-wide" do %>
              Discuter
            <% end %>
          <% else %>
            <%= link_to new_booking_conversation_path(@booking), class: "btn btn-default btn-wide" do %>
              Discuter
            <% end %>
          <% end %>
          <br>
          <br>
          <%= form_for([@booking.offer, @booking]) do |f| %>
            <%= f.text_field :accepted, class: "hidden", value: false %>
            <%= f.submit 'Décliner', class: "btn btn-danger btn-wide" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="booking">
        <% if @booking.offer.type_of_offer == "rent" %>
          <%= render "rent" %>
        <% elsif @booking.offer.type_of_offer == "service" %>
          <%= render "service" %>
        <% elsif @booking.offer.type_of_offer == "sell" %>
          <%= render "sell" %>
        <% end %>
        <%= render "shared/contact_client", booking: @booking %>
      </div>
    </div>
  </div>
</div>
