<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="panel panel-default margin-20-30 padding-none border-none transparent-bg">
        <div class="panel-body padding-none border-none transparent-bg">
          <!-- si l'offer est un service, la photo est celle du user -->
          <% if @booking.offer.type_of_offer =="service" %>
            <% if @booking.offer.user.picture_file_name %>
              <%= image_tag(@booking.offer.user.picture.url(:medium), { class: "img-thumbnail" }) %>
            <% else %>
              <%= image_tag "#{@booking.offer.nature}.png", class: "img-thumbnail white-bg" %>
            <% end %>
          <!-- sinon c'est la photo de l'annonce, obligatoire à la création -->
          <% else %>
            <% if @booking.offer.picture_file_name %>
              <%= image_tag(@booking.offer.picture.url(:medium), { class: "img-thumbnail" }) %>
            <% else %>
              <%= image_tag("no-image.png", { class: "img-thumbnail transparent-bg" }) %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="booking">
        <h1>Réservation de <%= @booking.offer.nature %></h1>
        <p><strong>Envoyée le : </strong><%= @booking.created_at.strftime("%d %b %Y") %></p>
        <p><strong>Statut : </strong>
          <% if @booking.accepted %>
            Félicitations, votre réservation a été acceptée !
          <% elsif @booking.accepted.nil? %>
            En attente de réponse du destinataire.
          <% else %>
            Votre réservation a été déclinée. Consulter d'autres <%= link_to "annonces", offers_path %>.
          <% end %>
        </p>
        <% if @booking.accepted %>
          <% if @booking.offer.type_of_offer == "rent" %>
            <p><strong>Réservation : </strong> du <%= @booking.start_date.strftime("%d %b") %> au <%= @booking.end_date.strftime("%d %b") %>.</p>
          <% elsif @booking.offer.type_of_offer == "service" %>
            <p><strong>Réservation : </strong> du <%= @booking.start_date.strftime("%d %b") %> à <%= @booking.start_hour.strftime("%H:%M") %> au <%= @booking.end_date.strftime("%d %B") %> à <%= @booking.end_hour.strftime("%H:%M") %>.</p>
          <% else %>
            <p><strong>Rendez-vous : </strong> le <%= @booking.start_date.strftime("%d %b") %>.</p>
          <% end %>
        <% end %>
        <p>Revoir l'<%= link_to "annonce", offer_path(@booking.offer) %></p>
      </div>
    </div>
  </div>
</div>