<%= content_for(:title) do %>
  Lovely hood - <%= @booking.offer.nature %>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="panel panel-default margin-top-20 max-width-300 padding-none border-none transparent-bg">
        <div class="panel-body padding-none border-none transparent-bg">
          <!-- if offer type is a service, the picture is user's pic - or the icon if user does not have one - -->
          <% if @booking.offer.type_of_offer =="service" %>
            <% if @booking.offer.user.picture_file_name %>
              <%= image_tag(@booking.offer.user.picture.url(:medium), { class: "img-thumbnail" }) %>
            <% else %>
              <%= image_tag "#{@booking.offer.nature}.png", class: "img-thumbnail white-bg" %>
            <% end %>
          <!-- sinon c'est la photo de l'annonce, obligatoire à la création -->
          <% else %>
            <% if @booking.offer.picture_file_name %>
              <%= image_tag(@booking.offer.picture.url(:medium), { class: "img-thumbnail" }) %>
            <% else %>
              <%= image_tag("no-image.png", { class: "img-thumbnail" }) %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="booking">
        <h1><%= @booking.offer.type_of_offer == "sell" ? "Demande d'achat" : "Réservation" %></h1>
        <h4><strong><%= link_to @booking.offer.nature, offer_path(@booking.offer), class: "nice-link" %></strong></h4>
        <p>
          <%= @booking.offer.user.zip_code %>
          &nbsp;&nbsp;&nbsp;
          <% if @booking.offer.cto_reviews.size.to_i >= 1 %>
            <%= link_to(offer_path(@booking.offer, anchor: "comments"), {class: "link-unstyled"}) do %>
              <% @booking.offer.average_score.round.times do %>
                <i class="fa fa-star small-star-gold"></i>
              <% end %>
              <% (5 - @booking.offer.average_score.round).times do %>
                <i class="fa fa-star small-star"></i>
              <% end %>
              (<%= @booking.offer.cto_reviews.size.to_i %> commentaires)
            <% end %>
          <% else %>
            <% unless @booking.offer.type_of_offer == "sell" %>
              (Pas encore de commentaires)
            <% end %>
          <% end %>
        </p>
        <p>
          <% if @booking.accepted %>
            Félicitations, votre <%= @booking.offer.type_of_offer == "sell" ? "demande" : "réservation" %> a été acceptée !
          <% elsif @booking.accepted.nil? %>
            Envoyée le <%= @booking.created_at.strftime("%d %b %Y") %>, en attente de réponse du destinataire.
          <% else %>
            Votre réservation a été déclinée. Consulter d'autres <%= link_to "annonces", offers_path %>.
          <% end %>
        </p>
        <% if @booking.accepted %>
          <% if @booking.offer.type_of_offer == "rent" %>
            <p>Du <%= @booking.start_date.strftime("%d %b") %> au <%= @booking.end_date.strftime("%d %b") %>.</p>
          <% elsif @booking.offer.type_of_offer == "service" %>
            <p>Du <%= @booking.start_date.strftime("%d %b") %> à <%= @booking.start_hour.strftime("%H:%M") %> au <%= @booking.end_date.strftime("%d %B") %> à <%= @booking.end_hour.strftime("%H:%M") %>.</p>
          <% else %>
            <p>Rendez-vous : le <%= @booking.start_date.strftime("%d %b") %>, au <%= @booking.offer.user.address %>, voir itinéraire ci-dessous.</p>
          <% end %>
          <p>Pour toute information complémentaire, n'hésitez pas à contacter <%= link_to @booking.offer.user.first_name, user_path(@booking.offer.user) %> :</p>
          <%= render "shared/contact_owner", booking: @booking %>
        <% end %>
        <p>Revoir l'<%= link_to "annonce", offer_path(@booking.offer) %></p>
        <p>COMING SOON : gros itinéraire bien pimpé</p>
      </div>
    </div>
  </div>
</div>