<%= content_for(:title) do %>
  <%= t('.title', offer: @booking.offer.i18n_nature(params[:locale])) %>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="panel panel-default margin-top-20 max-width-300 padding-none border-none transparent-bg">
        <div class="panel-body padding-none border-none transparent-bg">
          <!-- if offer type is a service, the picture is user's pic - or the icon if user does not have one - -->
          <% if @booking.offer.type_of_offer =="service" %>
            <% if @booking.offer.user.picture_file_name %>
              <%= image_tag(@booking.offer.user.picture.url(:medium), { class: "img img-lovely" }) %>
            <% else %>
              <%= image_tag "#{@booking.offer.nature}.png", class: "img img-lovely" %>
            <% end %>
          <!-- sinon c'est la photo de l'annonce, obligatoire à la création -->
          <% else %>
            <% if @booking.offer.picture_file_name %>
              <%= link_to @booking.offer.picture.url(:original), class: "fancybox", id: "single-image", "rel" => "group" do %>
                <%= image_tag(@booking.offer.picture.url(:medium), { class: "img img-lovely" }) %>
              <% end %>
            <% else %>
              <%= image_tag("no-image.png", { class: "img img-lovely" }) %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="booking">
        <h1><%= @booking.offer.type_of_offer == "sell" ? t('.purchase_request') : t('.booking_request') %></h1>
        <h4><strong><%= link_to @booking.offer.i18n_nature(params[:locale]), offer_path(@booking.offer), class: "nice-link" %></strong></h4>
        <p>
          <%= @booking.offer.user.city %>
          &nbsp;&nbsp;&nbsp;
          <% if @booking.offer.cto_reviews.size.to_i >= 1 %>
            <%= link_to(offer_path(@booking.offer, anchor: "comments"), {class: "link-unstyled"}) do %>
              <% @booking.offer.average_score.round.times do %>
                <i class="fa fa-star small-star-gold"></i>
              <% end %>
              <% (5 - @booking.offer.average_score.round).times do %>
                <i class="fa fa-star small-star"></i>
              <% end %>
              (<%= @booking.offer.cto_reviews.size.to_i %> <%= t('.reviews') %>)
            <% end %>
          <% else %>
            <% unless @booking.offer.type_of_offer == "sell" %>
              <%= t('.no_review_yet') %>
            <% end %>
          <% end %>
        </p>
        <% if current_user == @booking.user %>
          <p>
            <% if @booking.accepted %>
              <b><%= t('.congrats', request: @booking.offer.type_of_offer == "sell" ? t('.request') : t('.booking')) %></b>
            <% elsif @booking.accepted.nil? %>
              <%= t('.sent_on', date: @booking.created_at.strftime("%d %b %Y")) %>
            <% else %>
              <%= t('.declined') %> <%= link_to t('.offers'), offers_path %>.
            <% end %>
          </p>
        <% end %>
        <% if @booking.accepted %>
          <% if @booking.offer.type_of_offer == "rent" %>
            <p>Du <%= @booking.start_date.strftime("%d %b") %> au <%= @booking.end_date.strftime("%d %b") %>.</p>
          <% elsif @booking.offer.type_of_offer == "service" %>
            <p>Du <%= @booking.start_date.strftime("%d %b") %> à <%= @booking.start_hour.strftime("%H:%M") %> au <%= @booking.end_date.strftime("%d %B") %> à <%= @booking.end_hour.strftime("%H:%M") %>.</p>
          <% else %>
            <p><%= t('.rdv', date: @booking.start_date.strftime("%d %b"), address: @booking.offer.user.address) %></p>
          <% end %>
          <% if current_user == @booking.user %>
            <p><%= t('.more_info') %> <%= link_to @booking.offer.user.first_name, user_path(@booking.offer.user) %>:</p>
            <%= render "shared/contact_owner", booking: @booking %>
          <% elsif current_user == @booking.offer.user %>
            <p><%= t('.more_info') %> <%= link_to @booking.user.first_name, user_path(@booking.user) %>:</p>
            <%= render "shared/contact_client", booking: @booking %>
          <% end %>
        <% end %>
        <p><%= t('.see') %><%= link_to t('.offer'), offer_path(@booking.offer) %></p>
        <% if @booking.accepted %>
          <% if (@booking.offer.type_of_offer == "service" && current_user == @booking.offer.user) || (@booking.offer.type_of_offer != "service" && current_user == @booking.user) %>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4><%= t('.route') %></h4>
              </div>
              <div class="panel-body padding-none">
                <div id="map" class="col-sm-9" style="height:300px"></div>
                <div id="directionsPanel" class="col-sm-3" style="height:300px;overflow:scroll"></div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= content_for(:js) do %>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
  <%= javascript_tag do %>
    $(document).ready(function() {
      $(".fancybox").fancybox();
      var lat = <%= current_user.latitude %>
      var lng = <%= current_user.longitude %>
      var userLocation = new google.maps.LatLng(lat, lng);
      initializeDirections(userLocation);
      calcRoute(userLocation, '<%= current_user == @booking.user ? @booking.offer.user.address : @booking.user.address %>')
    });
  <% end %>
<% end %>