<div class="card" data-toggle="tooltip" data-placement="top" title="<%= neighbor.description.html_safe unless(neighbor.description == "" || neighbor.description.nil?) %>">
  <span class="card-bg" style="background-image: url(<%= neighbor.picture_file_name.nil? ? image_url('user_pic-225x225.png') : neighbor.picture.url(:medium) %>)"></span>
  <span class="card-shadow"></span>
  <span class="card-description">
    <% if neighbor.published_offers.size > 0 %>
      <%= neighbor.published_offers.size %> <%= t(".offer").pluralize(neighbor.published_offers.size) + t('.published', default: "#{' publiée'.pluralize(neighbor.published_offers.size)}").pluralize(neighbor.published_offers.size) %>
    <% else %>
      <%= t('.no_offer_yet') %>
    <% end %>
  </span>
  <span class="card-text">
    <h2><%= neighbor.first_name + (neighbor.birthday.nil? ? '' : ", #{neighbor.age.to_s}") unless neighbor.first_name.nil? %></h2>
  </span>
  <span class="card-user">
  </span>
  <% if current_user.is_neighbors_with?(neighbor) || current_user.admin %>
    <%= link_to "", user_path(neighbor), class: "card-link" %>
  <% end %>
</div>