<%= content_for(:title) do %>
  Lovely hood - Modifier mon profil
<% end %>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="sidenav">
        <ul class="list-unstyled">
          <li><a href="#" class="strong edit-link" id="my-info">Mes informations</a></li>
          <li><a href="#" class="edit-link" id="my-pic">Photo de profil</a></li>
          <li><a href="#" class="edit-link" id="my-trust">Confiance et vérif.</a></li>
          <li><a href="#" class="edit-link" id="my-bank">Recevoir de l'argent</a></li>
          <li><a href="#" class="edit-link" id="my-comments">Commentaires</a></li>
          <li><a href="#" class="edit-link" id="my-recos">Recommandations</a></li>
          <li><%= link_to "Voir mon profil", user_path(current_user), class: "btn btn-default" %></a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-9 margin-top-15">

      <div class="box" id="user-info">
        <div class="panel panel-default margin-top-15 padding-none">
          <div class="panel-heading">
            <h4>Mes informations</h4>
          </div>
          <div class="panel-body form-horizontal white-bg">
            <%= form_for(current_user) do |f| %>

              <div class="form-group">
                <%= f.label :email, "E-mail", class: "col-sm-3 control-label" %>
                <div class="col-sm-9">
                  <%= f.email_field :email, class: "form-control" %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :first_name, "Prénom *", class: "col-sm-3 control-label" %>
                <div class="col-sm-9">
                  <%= f.text_field :first_name, class: "form-control", id: "first_name" %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :last_name, "Nom *", class: "col-sm-3 control-label" %>
                <div class="col-sm-9">
                  <%= f.text_field :last_name, class: "form-control", id: "last_name" %>
                  <%= render "data_sharing_message" %>
                  <p class="small">Pour assurer un service de qualité et contribuer à la confiance au sein de la communauté, nous procédons à une <%= link_to "vérification", edit_user_path(current_user, anchor: "my-trust") %> systématique de l'identité de nos membres.</p>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :street, "Rue *", class: "col-sm-3 control-label" %>
                <div class="col-sm-9">
                  <%= f.text_field :street, placeholder: "25 rue du petit musc", class: "form-control", id: "street" %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :zip_code, "Code postal *", class: "col-sm-3 control-label" %>
                <div class="col-sm-9">
                  <%= f.text_field :zip_code, placeholder: "75004", class: "form-control", id: "zip_code" %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :city, "Ville *", class: "col-sm-3 control-label" %>
                <div class="col-sm-9">
                  <%= f.text_field :city, placeholder: "Paris", class: "form-control", id: "city" %>
                  <p class="small">Afin de prévenir tout risque de détournement du service, nous procédons à une <%= link_to "vérification", edit_user_path(current_user, anchor: "my-trust") %> de l'adresse de chaque membre de la communauté. Aussi, tout changement d'adresse fera l'objet d'une nouvelle vérification.</p>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :gender, "Sexe", class: "col-sm-3 control-label" %>
                <div class="col-sm-9">
                  <%= f.select :gender, [["Homme", "Male"], ["Femme", "Female"]], {}, { class: "form-control" } %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :birthday, "Date de naissance", class: "col-sm-3 control-label" %>
                <div class="col-sm-9">
                  <%= f.date_field :birthday, class: "form-control" %>
                  <p class="small">Nous utilisons cette donnée à des fins d'analyse et ne la partageons jamais avec d'autres  utilisateurs.</p>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :phone, "Téléphone", class: "col-sm-3 control-label" %>
                <div class="col-sm-9">
                  <%= f.text_field :phone, class: "form-control", id: "phone" %>
                  <%= render "data_sharing_message" %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :description, "Description", class: "col-sm-3 control-label" %>
                <div class="col-sm-9">
                  <%= f.text_area :description, class: "form-control" %>
                  <p class="small">Aidez les utilisateurs de votre communauté à mieux vous connaitre.</p>

                  <p class="small">Pour cela, présentez-vous brièvement en résumant votre parcours et en mentionnant vos activités personnelles, professionnelles ou encore votre situation amoureuse.</p>
                </div>
              </div>

              <div class="form-group margin-btm-none">
                <div class="col-sm-3">
                </div>

                <div class="col-sm-9">
                  <%= link_to "Modifier mon mot de passe", edit_user_registration_path(current_user), class: "btn btn-default" %>
                  <br>
                  <br>
                  <%= f.submit "Sauvegarder", class: "btn btn-primary", id: "submit" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="box hidden" id="user-picture">
        <div class="panel panel-default margin-top-15 padding-none">
          <div class="panel-heading">
            <h4>Photo de profil</h4>
          </div>
          <div class="panel-body form-horizontal white-bg">
            <div class="form-group">
              <div class="col-sm-3">
                <% if @user.picture_file_name %>
                  <%= image_tag(@user.picture.url(:medium), { class: "img-thumbnail" }) %>
                <% else %>
                  <%= image_tag "user_pic-225x225.png", class: "img-thumbnail bg-color" %>
                <% end %>
              </div>
              <div class="col-sm-9">
                <p>Téléchargez une photo qui montre clairement votre visage, afin que votre communauté vous reconnaisse !</p>
                <%= form_for(@user, html: { multipart: true }) do |f| %>
                  <%= f.file_field :picture, label: "Parcourir" %>
                  <br>
                  <%= f.submit "Sauvegarder", class: "btn btn-primary" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="box hidden" id="user-trust">
        <div class="panel panel-default margin-top-15 padding-none">
          <div class="panel-heading">
            <h4>Confiance et vérifications</h4>
          </div>
          <div class="panel-body form-horizontal white-bg">
            <%= form_for(current_user) do |f| %>
              <div class="col-sm-12">
                <p><b>Vérifiez votre identité et votre adresse postale</b></p>
                <p class="small">La vérification de votre identité et de votre adresse est à la fois un prérequis pour le bon fonctionnement du service et une façon simple de contribuer à la confiance au sein de la communauté Lovely hood.</p>
              </div>

              <div class="form-group">
                <%= f.label :identity_proof, "Identité", class: "col-sm-3 control-label" %>
                <div class="col-sm-9">
                  <%= f.file_field :identity_proof, class: "margin-top-6"%>
                  <p class="small">Carte d'identité, passeport ou permis de conduire uniquement</p>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :address_proof, "Adresse", class: "col-sm-3 control-label" %>
                <div class="col-sm-9">
                  <%= f.file_field :address_proof, class: "margin-top-6" %>
                  <p class="small">Dans le cas où votre adresse est différente de celle indiquée sur votre pièce d'identité, merci de nous fournir un des documents spécifiés dans <a href="http://www.linternaute.com/pratique/vos-droits/administratif/16023/justificatif-de-domicile-la-liste-des-documents-acceptes.html">cette liste</a></p>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-3"></div>
                <div class="col-sm-9">
                  <%= f.submit "Sauvegarder", class: "btn btn-primary" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="box hidden" id="user-bank">
        <div class="panel panel-default margin-top-15 padding-none">
          <div class="panel-heading">
            <h4>Recevoir de l'argent</h4>
          </div>
          <div class="panel-body form-horizontal white-bg">
            <div class="col-xs-12">
              <p>Avant de pouvoir créer une annonce sur Lovely hood, vous devez renseigner les coordonnées bancaires d'un compte valide domicilié en France.</p>
              <p>Vous recevrez alors automatiquement tous les paiements relatifs à vos annonces sur ce compte dans un délai de 48h après la prestation.</p>
            </div>
            <%= form_for(current_user) do |f| %>

              <div class="form-group">
                <%= f.label :iban, "IBAN", class: "col-sm-3 control-label" %>
                <div class="col-sm-9">
                  <%= f.email_field :iban, class: "form-control" %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :bic, "BIC", class: "col-sm-3 control-label" %>
                <div class="col-sm-9">
                  <%= f.text_field :bic, class: "form-control" %>
                </div>
              </div>

              <div class="form-group margin-btm-none">
                <div class="col-sm-3">
                </div>

                <div class="col-sm-9">
                  <%= f.submit "Sauvegarder", class: "btn btn-primary", id: "submit" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="box hidden" id="user-comments">
        <div class="panel panel-default margin-top-15 padding-none">
          <div class="panel-heading">
            <h4>Commentaires</h4>
          </div>
          <div class="panel-body white-bg">
            <div id="reviews">
              <h5><strong>Commentaires des "clients"</strong></h5>
              <% if @user.cto_reviews.size >= 1 %>
                <% @user.cto_reviews.sort_by(&:updated_at).reverse.each do |review| %>
                  <%= render "shared/review", { user: @user, booking: review.booking, review: review } %>
                <% end %>
              <% else %>
                <p>Pas encore de commentaire rédigé à propos d'une annonce publiée par <%= @user.first_name %></p>
              <% end %>
              <h5><strong>Commentaires des "propriétaires"</strong></h5>
              <% if @user.otc_reviews.size >= 1 %>
                <% @user.otc_reviews.sort_by(&:updated_at).reverse.each do |review| %>
                  <%= render "shared/review", { user: @user, booking: review.booking, review: review } %>
                <% end %>
              <% else %>
                <p>Pas encore de commentaire rédigé à propos d'une réservation réalisée par <%= @user.first_name %></p>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="box hidden" id="user-recommendations">
        <div class="panel panel-default margin-top-15 padding-none">
          <div class="panel-heading">
            <h4>Recommandations</h4>
          </div>
          <div class="white-bg panel-body">
            <p><b>Lovely hood est basée sur la confiance et la réputation.</b> Nous vous conseillons vivement de demander des recommandations auprès de votre réseau personnel. Elles apparaitront sur votre profil, et aideront votre communauté à mieux vous connaitre.</p>
            <p>Pas encore de recommandations</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for(:js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      showTheRightDiv();
      formValidation();
    });
  <% end %>
<% end %>