<%= content_for(:title) do %>
  <%= t('.title', name: @user.first_name ? @user.first_name : t('.my_profile')) %>
<% end %>
<%= content_for(:description) do %>
  <%= t('.description') %>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="panel panel-default margin-top-20 max-width-300 padding-none border-none transparent-bg">
        <div class="panel-body padding-none border-none transparent-bg  ">
          <% if current_user == @user %>
            <%= link_to edit_user_path(current_user, anchor: "my-pic") do %>
              <% if @user.picture_file_name %>
                <%= image_tag(@user.picture.url(:medium), { class: "img img-lovely", id: "profile-picture" }) %>
              <% else %>
                <%= image_tag "user_pic-225x225.png", class: "img img-lovely" %>
              <% end %>
              <div class="update-profile-pic">
                <div class="update-pic-text">
                  <i class="fa fa-camera pic-icon"></i>
                </div>
              </div>
            <% end %>
          <% else %>
            <% if @user.picture_file_name %>
              <%= image_tag(@user.picture.url(:medium), { class: "img img-lovely", id: "profile-picture" }) %>
            <% else %>
              <%= image_tag "user_pic-225x225.png", class: "img img-lovely" %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="panel panel-default max-width-300 padding-none">
        <div class="panel-heading">
          <h4>
            <% if current_user == @user %>
              <%= link_to edit_user_path(current_user, anchor: "my-trust"), class: "nice-link" do %>
              <%= t('.verif') %>
              <% end %>
            <% else %>
              <%= t('.verif') %>
            <% end %>
          </h4>
        </div>
        <div class="panel-body">
          <% if @user.identity_verified %>
            <p><i class="fa fa-check"></i> <%= t('.identity_verified') %></p>
          <% else %>
            <p>
              <%= link_to edit_user_path(@user, anchor: "my-trust"), class: "text-decoration-none red-link" do %>
                <i class="fa fa-close"></i> <%= t('.identity_not_checked') %>
              <% end %>
            </p>
          <% end %>
          <% if @user.address_verified %>
            <p><i class="fa fa-check"></i> <%= t('.address_verified') %></p>
          <% else %>
            <p>
              <%= link_to edit_user_path(current_user, anchor: "my-trust"), class: "text-decoration-none red-link" do %>
                <i class="fa fa-close"></i> <%= t('.address_not_checked') %></p>
              <% end %>
          <% end %>
          <% if @user.provider == "facebook" %>
            <p><i class="fa fa-check"></i> Facebook</p>
          <% end %>
        </div>
      </div>
      <% if current_user == @user %>
        <div class="panel panel-default max-width-300 padding-none">
          <div class="panel-heading">
            <h4>
              <% if @user.exclusive_neighbors(current_user).size > 0 %>
                <%= link_to users_path, class: "nice-link" do %>
                  <%= t('.my_neighbors') %> (<%= @user.neighbors.size %>)
                <% end %>
              <% else %>
                <%= t('.my_neighbors') %> (<%= @user.neighbors.size %>)
              <% end %>
            </h4>
          </div>
          <div class="panel-body">
            <% if @user.neighbors.size > 0 %>
              <% @user.neighbors.each do |neighbor| %>
                <div class="row margin-vertical-5 padding-vertical-6">
                  <div class="col-xs-4 padding-none">
                    <div class="img-small">
                      <% if neighbor.picture_file_name %>
                        <%= image_tag(neighbor.picture.url(:medium), { class: "img-38" }) %>
                      <% else %>
                        <%= image_tag("user_pic-38.png", { class: "img-38" }) %>
                      <% end %>
                    </div>
                  </div>
                  <div class="col-xs-8 padding-none">
                    <div class="small gray-lighter">
                      <%= link_to user_path(neighbor), class: "text-decoration-none" do %>
                        <%= ("<strong>" + neighbor.first_name + "</strong>").html_safe + (neighbor.birthday ? ", #{neighbor.age.to_s}" : "") %>
                      <% end %>
                      <br>
                      <%= link_to new_user_conversation_path(neighbor), class: "text-decoration-none gray-lighter" do %>
                        <i class="fa fa-send"></i> <%= t('.send_message') %>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% else %>
              <%= t('.no_neighbor_yet') %>
            <% end %>
          </div>
        </div>
      <% else %>
        <div class="panel panel-default max-width-300 padding-none">
          <div class="panel-heading">
            <h4>
              <% if current_user == @user && @user.common_neighbors(current_user).size > 0 %>
                <%= link_to users_path, class: "nice-link" do %>
                  <%= t('.neighbor').pluralize(@user.common_neighbors(current_user).size) %> en commun (<%= @user.common_neighbors(current_user).size %>)
                <% end %>
              <% else %>
                <%= t('.common_neighbors') %> (<%= @user.common_neighbors(current_user).size %>)
              <% end %>
            </h4>
          </div>
          <div class="panel-body">
            <% if @user.common_neighbors(current_user).size > 0 %>
              <% @user.common_neighbors(current_user).each do |neighbor| %>
                <div class="row margin-vertical-5 padding-vertical-6">
                  <div class="col-xs-4 padding-none">
                    <div class="img-small">
                      <% if neighbor.picture_file_name %>
                        <%= image_tag(neighbor.picture.url(:medium), { class: "img-38" }) %>
                      <% else %>
                        <%= image_tag("user_pic-38.png", { class: "img-38" }) %>
                      <% end %>
                    </div>
                  </div>
                  <div class="col-xs-8 padding-none">
                    <div class="small gray-lighter">
                      <%= link_to user_path(neighbor), class: "text-decoration-none" do %>
                        <%= ("<strong>" + neighbor.first_name + "</strong>").html_safe + (neighbor.birthday ? ", #{neighbor.age.to_s}" : "") %>
                      <% end %>
                      <br>
                      <%= link_to new_user_conversation_path(neighbor), class: "text-decoration-none gray-lighter" do %>
                        <i class="fa fa-send"></i> <%= t('.send_message') %>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% else %>
              <%= t('.no_common_neighbor') %>
            <% end %>
          </div>
        </div>
        <% if @user.exclusive_neighbors(current_user).size > 0 %>
          <div class="panel panel-default max-width-300 padding-none">
            <div class="panel-heading">
              <h4>
                <%= "Autre".pluralize(@user.exclusive_neighbors(current_user).size) %><%= " voisin".pluralize(@user.exclusive_neighbors(current_user).size) %> (<%= @user.exclusive_neighbors(current_user).size %>)
              </h4>
            </div>
            <div class="panel-body">
              <% @user.exclusive_neighbors(current_user).each do |neighbor| %>
                <div class="row margin-vertical-5 padding-vertical-6">
                  <div class="col-xs-4 padding-none">
                    <div class="img-small">
                      <% if neighbor.picture_file_name %>
                        <%= image_tag(neighbor.picture.url(:medium), { class: "img-38" }) %>
                      <% else %>
                        <%= image_tag("user_pic-38.png", { class: "img-38" }) %>
                      <% end %>
                    </div>
                  </div>
                  <div class="col-xs-8 padding-none">
                    <div class="small">
                      <%= ("<strong>" + neighbor.first_name + "</strong>").html_safe + (neighbor.birthday ? ", #{neighbor.age.to_s}" : "") %>
                      <br>
                      <%= (neighbor.description != "") ? (neighbor.description.size > 20 ? (neighbor.description[0..20] + "...") : neighbor.description) : t('.no_description') %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
      <% if current_user.address_verified %>
        <div class="panel panel-default max-width-300 padding-none" id="offers">
          <div class="panel-heading">
            <h4>
              <% if current_user == @user && @user.published_offers.size > 0 %>
                <%= link_to mine_path, class: "nice-link" do %>
                  <%= "Annonce".pluralize(@user.published_offers.size) %> (<%= @user.published_offers.size %>)
                <% end %>
              <% else %>
                <%= t('.offers') %>
              <% end %>
            </h4>
          </div>
          <div class="panel-body">
            <% if @user.published_offers.count == 0 %>
              <% if @user == current_user %>
                <%= link_to "Publier une annonce", new_offer_path %>
              <% else %>
                <%= t('.no_offer_yet') %>
              <% end %>
            <% else %>
              <% @user.offers.each do |offer| %>
                <% if offer.published %>
                  <div class="row margin-vertical-5 padding-vertical-6">
                    <div class="col-xs-4 padding-none">
                      <div class="img-small">
                        <% if offer.picture_file_name %>
                          <%= image_tag(offer.picture.url(:medium), { class: "img-38" }) %>
                        <% elsif offer.type_of_offer == "service" && offer.user.picture_file_name %>
                          <%= image_tag(offer.user.picture.url(:medium), { class: "img-38" }) %>
                        <% else %>
                          <%= image_tag "no-image-38.png", class: "bg-color" %>
                        <% end %>
                      </div>
                    </div>
                    <div class="col-xs-8 padding-none">
                      <div class="small gray-lighter">
                        <% if offer.i18n_nature(params[:locale]).length >= 20 %>
                          <%= link_to offer.i18n_nature(params[:locale])[0..19] + "...", offer_path(offer) %>
                          <br>
                          <%= offer.one_price(t('.hourly_price'), t('.weekly_price'), t('.daily_price')) %>
                        <% else %>
                          <%= link_to offer.i18n_nature(params[:locale]), offer_path(offer) %>
                          <br>
                          <%= offer.one_price(t('.hourly_price'), t('.weekly_price'), t('.daily_price')) %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
      <% if current_user.admin? %>
        <div class="panel panel-default max-width-300 padding-none" id="unpublished_offers">
          <div class="panel-heading">
            <h4>
              <% if current_user == @user && @user.unpublished_offers.size > 0 %>
                <%= link_to mine_path, class: "nice-link" do %>
                  <%= "Masquée".pluralize(@user.offers.size) %> (<%= @user.unpublished_offers.size %>)
                <% end %>
              <% else %>
                Masquées
              <% end %>
            </h4>
          </div>
          <div class="panel-body">
            <% @user.unpublished_offers.each do |offer| %>
              <div class="row margin-vertical-5 padding-vertical-6">
                <div class="col-xs-4 padding-none">
                  <div class="img-small">
                    <% if offer.picture_file_name %>
                      <%= image_tag(offer.picture.url(:medium), { class: "img-38" }) %>
                    <% elsif offer.type_of_offer == "service" && offer.user.picture_file_name %>
                      <%= image_tag(offer.user.picture.url(:medium), { class: "img-38" }) %>
                    <% else %>
                      <%= image_tag "no-image-38.png", class: "bg-color" %>
                    <% end %>
                  </div>
                </div>
                <div class="col-xs-8 padding-none">
                  <div class="small gray-lighter">
                    <% if offer.i18n_nature(params[:locale]).length >= 20 %>
                      <%= link_to offer.i18n_nature(params[:locale])[0..19] + "...", offer_path(offer) %>
                      <br>
                      <%= offer.one_price(t('.hourly_price'), t('.weekly_price'), t('.daily_price')) %>
                    <% else %>
                      <%= link_to offer.i18n_nature(params[:locale]), offer_path(offer) %>
                      <br>
                      <%= offer.one_price(t('.hourly_price'), t('.weekly_price'), t('.daily_price')) %>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-sm-9">
      <div class="user-info">
        <h1><%= t('.profile', name: @user.first_name) %></h1>
        <p>
          <strong><%= @user.city ? @user.city.capitalize : "Paris" %></strong> - <%= @user.birthday ? "#{@user.age} - " : "" %><%= t('.member_since') %> <%= @user.created_at.strftime("%b %Y") %>
        </p>
        <p>
          <% unless current_user == @user %>
            <%= link_to new_user_conversation_path(@user), class: "contact-user-link", class: "btn btn-success" do %>
              <i class="fa fa-send"></i> <%= t('.send_message') %>
            <% end %>
          <% end %>
        </p>
        <% if policy(@user).update? %>
        <p><%= link_to t('.edit'), edit_user_path(@user), class: "btn btn-default" %></p>
        <% end %>
        <p><%= simple_format @user.description %></p>
      </div>
      <% if @user == current_user %>
        <% if @user.passed_bookings_to_review[:owner].size >= 1 || @user.passed_bookings_to_review[:client].size >= 1 %>
          <div class="passed-bookings">
            <div class="panel panel-default padding-none">
              <div class="panel-heading">
                <h4><%= t('.passed_bookings') %></h4>
              </div>
              <div class="panel-body">
                <% if @user.passed_bookings_to_review[:owner].size >= 1 %>
                  <h5><strong><%= t('.you_were_asked') %></strong></h5>
                  <% @user.passed_bookings_to_review[:owner].each do |booking| %>
                    <%= render "shared/passed_bookings", { user: @user, booking: booking } %>
                  <% end %>
                <% end %>
                <% if @user.passed_bookings_to_review[:client].size >= 1 %>
                  <h5><strong><%= t('.you_booked') %></strong></h5>
                  <% @user.passed_bookings_to_review[:client].each do |booking| %>
                    <%= render "shared/passed_bookings", { user: @user, booking: booking } %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
        <% if @user.ongoing_bookings[:owner].size >= 1 || @user.ongoing_bookings[:client].size >= 1 %>
          <div class="ongoing-bookings">
            <div class="panel panel-default padding-none">
              <div class="panel-heading">
                <h4><%= t('.ongoing_bookings') %></h4>
              </div>
              <div class="panel-body">
                <% if @user.ongoing_bookings[:owner].size >= 1 %>
                  <h5><strong><%= t('.you_are_providing') %></strong></h5>
                  <% @user.ongoing_bookings[:owner].each do |booking| %>
                    <%= render "shared/ongoing_bookings", { user: @user, booking: booking } %>
                  <% end %>
                <% end %>
                <% if @user.ongoing_bookings[:client].size >= 1 %>
                  <h5><strong><%= t('.you_enjoy') %></strong></h5>
                  <% @user.ongoing_bookings[:client].each do |booking| %>
                    <%= render "shared/ongoing_bookings", { user: @user, booking: booking } %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
        <% if @user.upcoming_bookings[:owner].size >= 1 || @user.upcoming_bookings[:client].size >= 1 %>
          <div class="upcoming-bookings">
            <div class="panel panel-default padding-none">
              <div class="panel-heading">
                <h4><%= t('.upcoming') %></h4>
              </div>
              <div class="panel-body">
                <h5><strong><%= t('.you_have_booked') %></strong></h5>
                <% if @user.upcoming_bookings[:client].size >= 1 %>
                  <% @user.upcoming_bookings[:client].each do |booking| %>
                    <%= render "shared/upcoming_bookings", { user: @user, booking: booking } %>
                  <% end %>
                <% else %>
                  <p><%= t('.no_upcoming_booking') %></p>
                <% end %>
                <h5><strong>On vous a réservé</strong></h5>
                <% if @user.upcoming_bookings[:owner].size >= 1 %>
                  <% @user.upcoming_bookings[:owner].each do |booking| %>
                    <%= render "shared/upcoming_bookings", { user: @user, booking: booking } %>
                  <% end %>
                <% else %>
                  <p><%= t('.no_upcoming_booking') %></p>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
      <div id="reviews">
        <div class="panel panel-default padding-none">
          <div class="panel-heading">
            <h4><%= t('.reviews') %></h4>
          </div>
          <div class="panel-body">
            <h5><strong><%= t('.cto_reviews') %></strong></h5>
            <% if @user.cto_reviews.size >= 1 %>
              <% @user.cto_reviews.sort_by(&:updated_at).reverse.each do |review| %>
                <%= render "shared/review", { user: @user, booking: review.booking, review: review } %>
              <% end %>
            <% else %>
              <p><%= t('.no_cto_yet', name: @user.first_name) %></p>
            <% end %>
            <h5><strong><%= t('.otc_reviews') %></strong></h5>
            <% if @user.otc_reviews.size >= 1 %>
              <% @user.otc_reviews.sort_by(&:updated_at).reverse.each do |review| %>
                <%= render "shared/review", { user: @user, booking: review.booking, review: review } %>
              <% end %>
            <% else %>
              <p><%= t('.no_otc_yet', name: @user.first_name) %></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= content_for :js do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      adjustIconsSizeSimple(720);
      $(window).on('resize', function() {
        adjustIconsSizeSimple(720);
      })
    })
  <% end %>
<% end %>