<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="white-bg frame padding-none">
        <% if @user.picture_file_name %>
          <%= image_tag(@user.picture.url(:medium), { class: "img img-thumbnail img-profile" }) %>
        <% else %>
          <%= image_tag "logo.png", class: "img-thumbnail bg-color" %>
        <% end %>

      </div>
      <div class="header-box">
        <div class="frame-header">
          <h4 class="margin-none">Vérifications</h4>
        </div>
      </div>
      <div class="body-box">
        <div class="white-bg frame-body">
          <p><i class="fa fa-check"></i> Identité vérifiée</p>
          <p><i class="fa fa-check"></i> Adresse vérifiée</p>
          <p><i class="fa fa-check"></i> Facebook</p>
        </div>
      </div>
      <div class="header-box">
        <div class="frame-header">
          <h4 class="margin-none">Annonces (<%= @user.offers.count %>)</h4>
        </div>
      </div>
      <div class="body-box">
        <div class="white-bg frame-body">
          <% @user.offers.each do |offer| %>
            <p>
              <% if offer.picture_file_name %>
                <%= image_tag offer.picture.url(:medium), { class: "img img-circle img-small"} %>
              <% else %>
                <%= image_tag("no-image.png", { class: "img img-circle img-small" }) %>
              <% end %>
            <% if offer.nature.length >= 8 %>
              <%= link_to offer.nature[0..7] + " (...)", offer_path(offer) %> (<%= offer.one_price %>)</p>
            <% else %>
              <%= link_to offer.nature, offer_path(offer) %> (<%= offer.one_price %>)</p>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="user-info">
        <h1>Profil de <%= @user.first_name %></h1>
        <p><strong><%= @user.city %></strong> - Membre depuis <%= @user.created_at.strftime("%B %Y") %></p>
        <% if policy(@user).update? %>
        <p><%= link_to "Modifier le profil", edit_user_path(@user) %></p>
        <% end %>
        <p><%= @user.description %></p>
      </div>
      <div class="activity">
        <h2>Activité récente</h2>
        <p>Pas encore d'activité</p>
      </div>
      <div class="reviews">
        <h2>Commentaires</h2>
        <p>Pas encore de revues</p>
      </div>
    </div>
  </div>
</div>