<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="panel panel-default margin-20-30 padding-none border-none transparent-bg">
        <div class="panel-body padding-none border-none transparent-bg  ">

          <% if current_user == @user %>
            <%= link_to edit_user_path(current_user, anchor: "my-pic") do %>
              <% if @user.picture_file_name %>
                <%= image_tag(@user.picture.url(:medium), { class: "img-thumbnail" }) %>
              <% else %>
                <%= image_tag "user_pic-225x225.png", class: "img-thumbnail transparent-bg" %>
              <% end %>
            <% end %>
          <% else %>
            <% if @user.picture_file_name %>
              <%= image_tag(@user.picture.url(:medium), { class: "img-thumbnail" }) %>
            <% else %>
              <%= image_tag "user_pic-225x225.png", class: "img-thumbnail transparent-bg" %>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="panel panel-default margin-20-30 padding-none">
        <div class="panel-heading">
          <h4>
            <% if current_user == @user %>
              <%= link_to edit_user_path(current_user, anchor: "my-trust"), class: "nice-link" do %>
              Vérifications
              <% end %>
            <% else %>
              Vérifications
            <% end %>
          </h4>
        </div>
        <div class="panel-body">
          <% if @user.identity_verified %>
            <p><i class="fa fa-check"></i> Identité vérifiée</p>
          <% else %>
            <p><i class="fa fa-close"></i> Identité non vérifiée</p>
          <% end %>
          <% if @user.address_verified %>
            <p><i class="fa fa-check"></i> Adresse vérifiée</p>
          <% else %>
            <p><i class="fa fa-close"></i> Adresse non vérifiée</p>
          <% end %>
          <% if @user.provider == "facebook" %>
            <p><i class="fa fa-check"></i> Facebook</p>
          <% end %>
        </div>
      </div>

      <div class="panel panel-default margin-20-30 padding-none">
        <div class="panel-heading">
          <h4>
            <% if current_user == @user %>
              <%= link_to mine_path, class: "nice-link" do %>
                Annonces (<%= @user.offers.count %>)
              <% end %>
            <% else %>
              Annonces
            <% end %>
          </h4>
        </div>
        <div class="panel-body">
          <% if @user.offers.count == 0 %>
            <%= link_to "Publier une annonce", new_offer_path %>
          <% else %>
            <% @user.offers.each do |offer| %>
              <div class="row margin-vertical-5 padding-vertical-6">
                <div class="col-xs-4 padding-none">
                  <div class="img-small">
                    <% if offer.picture_file_name %>
                      <%= image_tag(offer.picture.url(:medium), { class: "img" }) %>
                    <% elsif offer.type_of_offer == "service" && offer.user.picture_file_name %>
                      <%= image_tag(offer.user.picture.url(:medium), { class: "img" }) %>
                    <% else %>
                      <%= image_tag "no-image-38.png", class: "bg-color" %>
                    <% end %>
                  </div>
                </div>
                <div class="col-xs-8 padding-none">
                  <div class="small gray-lighter">
                    <% if offer.nature.length >= 20 %>
                      <%= link_to offer.nature[0..19] + "...", offer_path(offer) %>
                      <br>
                      <%= offer.one_price %>
                    <% else %>
                      <%= link_to offer.nature, offer_path(offer) %>
                      <br>
                      <%= offer.one_price %>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-sm-9">
      <div class="user-info">
        <h1>Profil de <%= @user.first_name %></h1>
        <p><strong><%= @user.city.capitalize %></strong> - Membre depuis <%= @user.created_at.strftime("%b %Y") %></p>
        <% if policy(@user).update? %>
        <p><%= link_to "Modifier le profil", edit_user_path(@user) %></p>
        <% end %>
        <p><%= @user.description %></p>
      </div>

      <% if @user == current_user %>

        <% if @user.passed_bookings_to_validate[:owner].size >= 1 || @user.passed_bookings_to_validate[:client].size >= 1 %>
          <div class="passed-bookings">
            <div class="panel panel-default padding-none">
              <div class="panel-heading">
                <h4>Prestations passées - à confirmer</h4>
              </div>
              <div class="panel-body">
                <% if @user.passed_bookings_to_validate[:owner].size >= 1 %>
                  <h5><strong>On vous a sollicité pour :</strong></h5>
                  <% @user.passed_bookings_to_validate[:owner].each do |booking| %>
                    <%= render "shared/passed_bookings", { user: @user, booking: booking } %>
                  <% end %>
                <% end %>
                <% if @user.passed_bookings_to_validate[:client].size >= 1 %>
                  <h5><strong>Vous avez bénéficié de :</strong></h5>
                  <% @user.passed_bookings_to_validate[:client].each do |booking| %>
                    <%= render "shared/passed_bookings", { user: @user, booking: booking } %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>

        <% if @user.ongoing_bookings[:owner].size >= 1 || @user.ongoing_bookings[:client].size >= 1 %>
          <div class="ongoing-bookings">
            <div class="panel panel-default padding-none">
              <div class="panel-heading">
                <h4>Prestations en cours</h4>
              </div>
              <div class="panel-body">
                <% if @user.ongoing_bookings[:owner].size >= 1 %>
                  <h5><strong>On vous sollicite pour :</strong></h5>
                  <% @user.ongoing_bookings[:owner].each do |booking| %>
                    <%= render "shared/ongoing_bookings", { user: @user, booking: booking } %>
                  <% end %>
                <% end %>
                <% if @user.ongoing_bookings[:client].size >= 1 %>
                  <h5><strong>Vous bénéficiez de :</strong></h5>
                  <% @user.ongoing_bookings[:client].each do |booking| %>
                    <%= render "shared/ongoing_bookings", { user: @user, booking: booking } %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>

        <% if @user.upcoming_bookings[:owner].size >= 1 || @user.upcoming_bookings[:client].size >= 1 %>
          <div class="upcoming-bookings">
            <div class="panel panel-default padding-none">
              <div class="panel-heading">
                <h4>A venir</h4>
              </div>
              <div class="panel-body">
                <h5><strong>Vous avez réservé</strong></h5>
                <% if @user.upcoming_bookings[:client].size >= 1 %>
                  <% @user.upcoming_bookings[:client].each do |booking| %>
                    <%= render "shared/upcoming_bookings", { user: @user, booking: booking } %>
                  <% end %>
                <% else %>
                  <p>Pas de réservation à venir.</p>
                <% end %>

                <h5><strong>On vous a réservé</strong></h5>
                <% if @user.upcoming_bookings[:owner].size >= 1 %>
                  <% @user.upcoming_bookings[:owner].each do |booking| %>
                    <%= render "shared/upcoming_bookings", { user: @user, booking: booking } %>
                  <% end %>
                <% else %>
                  <p>Pas de réservation à venir.</p>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>

      <div id="reviews">
        <div class="panel panel-default padding-none">
          <div class="panel-heading">
            <h4>Commentaires</h4>
          </div>
          <div class="panel-body">
            <h5><strong>Commentaires des "clients"</strong></h5>
            <% if @user.cto_reviews.size >= 1 %>
              <% @user.cto_reviews.sort_by(&:updated_at).reverse.each do |review| %>
                <%= render "shared/review", { user: @user, booking: review.booking, review: review } %>
              <% end %>
            <% else %>
              <p>Pas encore de commentaire rédigé à propos d'une annonce publiée par <%= @user.first_name %></p>
            <% end %>
            <h5><strong>Commentaires des "propriétaires"</strong></h5>
            <% if @user.otc_reviews.size >= 1 %>
              <% @user.otc_reviews.sort_by(&:updated_at).reverse.each do |review| %>
                <%= render "shared/review", { user: @user, booking: review.booking, review: review } %>
              <% end %>
            <% else %>
              <p>Pas encore de commentaire rédigé à propos d'une réservation réalisée par <%= @user.first_name %></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for(:js) do %>
  <%= javascript_tag do %>
    $(document).ready(function(e) {
      adjustImgSmall();
    });
  <% end %>
<% end %>
