<%= link_to activity.owner.first_name, user_path(activity.owner), class: "nice-link" %> aime une publication
<br>
<div class="panel panel-default white-bg margin-top-15 margin-btm-15 padding-none box-in-post">
  <div class="panel-body padding-none border-btm">
    <div class="stick-down-target white-bg col-xs-12">
      <div class="message-content margin-top-15">
        <div class="col-xs-3 img-mini-square padding-none margin-left-none margin-btm-5">
          <% if activity.trackable.user.picture_file_name %>
            <%= image_tag(activity.trackable.user.picture.url(:thumb), { class: "img" }) %>
          <% else %>
            <%= image_tag "user_pic-60.png", class: "img logo-small bg-color" %>
          <% end %>
        </div>
        <div class="col-xs-9 padding-left-10 margin-btm-5">
          <ul class="margin-none list-unstyled list-inline">
            <li class="padding-left-none">
              <%= link_to activity.trackable.user.first_name, user_path(activity.owner), class: "offer-nature-link" %></li>
            <li class="hidden-xs padding-left-none gray-lighter font-size-12">
              <%= (((Time.now - activity.trackable.created_at < 86400) && Date.today.day == activity.trackable.created_at.day) ? "" : (Time.now - activity.trackable.created_at < 86400 ? "Yesterday," : activity.trackable.created_at.strftime("%A, %e %B "))) + activity.trackable.created_at.strftime("%l:%M %p") %>
            </li>
          </ul>
          <%= simple_format activity.trackable.content, class: "margin-btm-none" %>
          <% if activity.trackable.link_url %>
            <%= render "meta", post: activity.trackable %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-footer padding-top-10 border-top-none padding-btm-none comments-bg-color">
    <div class="row">
      <div class="col-xs-12">
        <div class="font-size-12 padding-btm-10">
          <% if activity.trackable.get_likes.size == 1 %>
            <%= link_to activity.trackable.get_likes.first.voter.first_name, user_path(activity.trackable.get_likes.first.voter), class: ((current_user.neighbors + [current_user]).include?(activity.trackable.get_likes.first.voter) ? "like-link" : "disabled") %> aime ça.
          <% else %>
            <%= liker_list_string = "" %>
            <% liker_list = activity.trackable.get_likes.each { |liker| liker_list_string += ("<li>" + liker.voter.first_name + "</li>")} %>
            <%= link_to "#{activity.trackable.get_likes.size} j'aime",
              "",
              class: "like-link link-popover",
              data: {
                content: "<ul class='list-unstyled'>#{liker_list_string}</ul>"
              } %>
          <% end %>
          <% unless activity.trackable.comments.size == 0 %>
            et <%= link_to "#{pluralize(activity.trackable.comments.size, 'commentaire')}", "#", class: "comment-link", id: "go_to_post_#{activity.trackable.id}" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
