<div class="booking", id="<%= "booking_#{booking.id}" %>">
  <div class="row">
    <div class="col-xs-2 text-center">
      <div class="img-nature-box">
        <%= link_to offer_path(booking.offer), class: "link-unstyled" do %>
          <% if booking.offer.type_of_offer == "sell" %>
            <%= image_tag "sell.png", width: "60" %>
          <% else %>
            <%= image_tag "#{booking.offer.nature}.png", width: "60" %>
          <% end %>
      </div>
      <div class="user-name">
          <%= booking.offer.nature %>
        <% end %>
      </div>
    </div>
    <div class="col-xs-10">
      <div class="booking-content">
        <div class="row">
          <div class="col-xs-12">
            <% if booking.offer.type_of_offer == "sell" %>
              <% if booking.offer.sold.nil? && booking.cancelled.nil? %>
                <% if current_user == booking.user %>
                  <p>
                    <% if booking.end_date == Date.today %>
                      <strong><%= t('.today') %></strong>
                    <% else %>
                      <%= t('.time_ago', days: pluralize((Date.today - booking.end_date).to_i, t('.day'))) %>
                    <% end %>
                    (<%= booking.end_date.strftime("%d %b") %>).
                  </p>
                  <p>
                    <ul class="confirmation list-unstyle list-inline">
                      <li>
                        <%= t('.buy') %> <%= link_to booking.offer.nature,  offer_path(booking.offer) %>
                      </li>
                      <li class="confirmation-thumbs">
                        <%= form_for booking, method: :put, url: buy_offer_booking_path(booking.offer, booking) do |f| %>
                          <%= button_tag(type: 'submit', class: "btn btn-success btn-margin btn-wide btn-circle") do %>
                            <i class="fa fa-check"></i>
                          <% end %>
                        <% end %>
                      </li>
                      <li class="confirmation-thumbs">
                        <%= form_for booking, method: :put, url: cancel_offer_booking_path(booking.offer, booking) do |f| %>
                          <%= f.hidden_field :cancelled, value: true %>
                          <%= button_tag(type: 'submit', class: "btn btn-danger btn-margin btn-wide btn-circle") do %>
                            <i class="fa fa-close"></i>
                          <% end %>
                        <% end %>
                      </li>
                    </ul>
                  </p>
                <% else %>
                  <p>
                    <%= t('.pending_decision', name: booking.user.first_name) %>.
                  </p>
                <% end %>
              <% elsif booking.offer.sold %>
                <% if current_user == booking.offer.user %>
                  <p>
                    <% if booking.end_date == Date.today %>
                      <strong><%= t('.today') %></strong>
                    <% else %>
                      <%= t('.time_ago', pluralize((Date.today - booking.end_date).to_i, t(".day"))) %>
                    <% end %>
                    (le <%= booking.end_date.strftime("%d %b") %>).
                  </p>
                  <p>
                    <%= t('.leave_a_review') %> <%= link_to t('.comment'), new_booking_review_path(booking) %> <%= t('.to') %> <%= booking.user.first_name %>.
                  </p>
                <% end %>
              <% end %>
            <% elsif booking.offer.type_of_offer == "rent" %>
              <p>
                <% if booking.end_date == Date.today %>
                  <strong><%= t('.today') %></strong>
                <% else %>
                  <%= t('.time_ago', days: pluralize((Date.today - booking.end_date).to_i, t('.day'))) %>
                <% end %>
                (<%= booking.start_date.strftime("%d %b") %> - <%= booking.end_date.strftime("%d %b") %>).
              </p>
              <p>
                <% if current_user == booking.user %>
                  <%= t('.leave_a_review') %> <%= link_to t('.comment'), new_booking_review_path(booking) %> <%= t('.to') %> <%= booking.offer.user.first_name %>.
                <% elsif current_user == booking.offer.user %>
                  <%= t('.leave_a_review') %> <%= link_to t('.comment'), new_booking_review_path(booking) %> <%= t('.to') %> <%= booking.user.first_name %>.
                <% end %>
              </p>
            <% elsif booking.offer.type_of_offer == "service" %>
              <p>
                <% if booking.end_date == Date.today %>
                  <strong><%= t('.today') %></strong>
                <% else %>
                  <%= t('.time_ago', days: pluralize((Date.today - booking.end_date).to_i, t('.day'))) %>
                <% end %>
                (<%= booking.start_date.strftime("%d %b") %> <%= t('.at') %> <%= booking.start_hour.strftime("%H:%M") %> - <%= booking.end_date.strftime("%d %b") %> <%= t('.at') %> <%= booking.end_hour.strftime("%H:%M") %>).
              </p>
              <p>
                <%= t('.leave_a_review') %> <%= link_to t('.comment'), new_booking_review_path(booking) %> <%= t('.to') %> <%= current_user == booking.user ? booking.offer.user.first_name : booking.user.first_name %>.
              </p>
            <% end %>
          </div>
        </div>
        <br>
        <div class="booking-footer">
          <div class="booking-date">
            <%= booking.created_at.strftime("%b %Y") %>
          </div>
          <div class="user-link">
            <% if booking.offer.user == current_user %>
              <%= link_to user_path(booking.user) do %>
                <table class="user-assets margin-none">
                  <td>
                    <%= booking.user.first_name %>
                  </td>
                  <td>&nbsp;&nbsp;</td>
                  <td>
                    <div class="img-mini">
                      <% if booking.user.picture_file_name %>
                        <%= image_tag(booking.user.picture.url(:medium), { class: "img-20" }) %>
                      <% else %>
                        <%= image_tag "user_pic-38.png", class: "img-20" %>
                      <% end %>
                    </div>
                  </td>
                </table>
              <% end %>
            <% else %>
              <%= link_to user_path(booking.offer.user) do %>
                <table class="user-assets margin-none">
                  <td>
                    <%= booking.offer.user.first_name %>
                  </td>
                  <td>&nbsp;&nbsp;</td>
                  <td>
                    <div class="img-mini">
                      <% if booking.offer.user.picture_file_name %>
                        <%= image_tag(booking.offer.user.picture.url(:medium), { class: "img-20" }) %>
                      <% else %>
                        <%= image_tag "user_pic-38.png", class: "img-20" %>
                      <% end %>
                    </div>
                  </td>
                </table>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>