<div class="booking">
  <div class="row">
    <div class="col-xs-2 text-center">
      <div class="img-nature-box">
        <%= link_to offer_path(booking.offer), class: "link-unstyled" do %>
          <% if booking.offer.type_of_offer == "sell" %>
            <%= image_tag "sell.png", width: "60" %>
          <% else %>
            <%= image_tag "#{booking.offer.nature}.png", width: "60" %>
          <% end %>
      </div>
      <div class="user-name hidden-xs">
          <%= booking.offer.nature %>
        <% end %>
      </div>
    </div>
    <div class="col-xs-10">
      <div class="booking-content">
        <div class="row">
          <div class="col-xs-12">
            <!-- si c'est un objet à louer, on display les dates -->
            <% if booking.offer.type_of_offer == "rent" %>
              <p>
                <% if booking.start_date == Date.today %>
                  <strong><%= t('.today') %></strong>
                <% else %>
                  <%= t('.in') %> <strong><%= pluralize((booking.start_date - Date.today).to_i, t('.day')) %></strong>
                <% end %>
                (<%= booking.start_date.strftime("%d %b") %> - <%= booking.end_date.strftime("%d %b") %>).
              </p>
            <!-- si c'est un service, on display les dates + heures -->
            <% elsif booking.offer.type_of_offer == "service" %>
              <p>
                <% if booking.start_date == Date.today %>
                  <strong><%= t('.today') %></strong>
                <% else %>
                  <%= t('.in') %> <strong><%= pluralize((booking.start_date - Date.today).to_i, t('.day')) %></strong>
                <% end %>
                (<%= booking.start_date.strftime("%d %b") %> <%= t('.at') %> <%= booking.start_hour.strftime("%H:%M") %> - <%= booking.end_date.strftime("%d %b") %> <%= t('.at') %> <%= booking.end_hour.strftime("%H:%M") %>).
              </p>
            <!-- si c'est une vente, on display la date de rdv -->
            <% else %>
              <p><strong><%= t('.rdv') %></strong> <%= booking.start_date.strftime("%d %b") %>.</p>
            <% end %>
            <% if current_user == booking.user %>
              <p>
                <% if booking.accepted && booking.offer.type_of_offer == "service" %>
                  <%= t('.booking_accepted') %> <%= t('.by') %> <%= booking.offer.user.first_name %>.
                <% elsif booking.accepted %>
                  <%= t('.booking_accepted') %>. <%= t('.check') %> <%= link_to t('.route'), offer_booking_path(booking.offer, booking, anchor: "map") %> <%= t('.to') %> <%= booking.offer.user.first_name %><%= t('.apostrophe_s') %>.
                <% else %>
                 <%= t('.waiting_for') %> <%= booking.offer.user.first_name %>
                <% end %>
               </p>
            <% else %>
              <p>
                <% if booking.accepted && booking.offer.type_of_offer == "service" %>
                  <%= t('.booking_accepted') %>. <%= t('.check') %> <%= link_to t('.route'), offer_booking_path(booking.offer, booking, anchor: "map") %> <%= t('.to') %> <%= booking.user.first_name %><%= t('.apostrophe_s') %>.
                <% elsif booking.accepted && booking.offer.type_of_offer == "sell" %>
                  <%= t('.you_may_earn') %> <%= (booking.booking_price * 0.96).round %><%= t('.currency') %>.
                <% elsif booking.accepted %>
                  <%= t('.you_will_earn') %> <%= (booking.booking_price * 0.96).round %><%= t('.currency') %>.
                <% else %>
                  <%= t('.unanswered_request') %> <%= booking.user.first_name %><%= t('.request') %>. <%= link_to t('.reply'), edit_offer_booking_path(booking.offer, booking) %>
                <% end %>
              </p>
            <% end %>
          </div>
        </div>
        <br>
        <div class="booking-footer">
          <div class="booking-date hidden-xs">
            <%= l(booking.created_at, format: "%B %Y") %>
          </div>
          <div class="user-link">
            <% if booking.offer.user == current_user %>
              <%= link_to user_path(booking.user) do %>
                <table class="user-assets margin-none">
                  <td>
                    <%= booking.user.first_name %>
                  </td>
                  <td>&nbsp;&nbsp;</td>
                  <td>
                    <div class="img-mini">
                      <% if booking.user.picture_file_name %>
                        <%= image_tag(booking.user.picture.url(:medium), { class: "img-20" }) %>
                      <% else %>
                        <%= image_tag "user_pic-38.png", class: "img-20" %>
                      <% end %>
                    </div>
                  </td>
                </table>
              <% end %>
            <% else %>
              <%= link_to user_path(booking.offer.user) do %>
                <table class="user-assets margin-none">
                  <td>
                    <%= booking.offer.user.first_name %>
                  </td>
                  <td>&nbsp;&nbsp;</td>
                  <td>
                    <div class="img-mini">
                      <% if booking.offer.user.picture_file_name %>
                        <%= image_tag(booking.offer.user.picture.url(:medium), { class: "img-20" }) %>
                      <% else %>
                        <%= image_tag "user_pic-38.png", class: "img-20" %>
                      <% end %>
                    </div>
                  </td>
                </table>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>