<h1>Merci d'avoir utilisé Lovely hood !</h1>

<p>
  <%= @booking.offer.user.first_name %> nous a confirmé que la prestation que tu as demandée a bien eu lieu.
</p>
<p>
  Rends-toi <%= link_to "ici", user_url(@booking.user) %> à ton tour pour confirmer que tu as bien bénéficié de la prestation <%= @booking.offer.nature %>.
</p>
<p>
  Pense également à laisser un commentaire sur <%= @booking.offer.user.first_name %> et son offre <%= @booking.offer.nature %> <%= link_to "ici", new_booking_review_url(@booking) %>
</p>

<p>A bientôt sur Lovely hood !</p>