<%= content_for(:title) do %>
  <%= t('.title') %>
<% end %>
<%= content_for(:description) do %>
  <%= t('.description') %>
<% end %>
<div id="mosaic">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <div class="lead" id="">
          <h1 class="margin-btm-none"><%= t('.motto') %></h1>
          <p class="margin-btm-none">
            <%= t('.catchline_1') %>
          </p>
          <p>
            <%= t('.catchline_2') %>
          </p>
          <%= link_to t('.see_more'), "#product", class: "btn btn-default hidden-xs", id: "see-more" %>
        </div>
      </div>
      <div class="col-sm-5 padding-right-none">
        <% unless user_signed_in? %>
          <div class="text-center lead visible-xs padding-top-none">
            <%= link_to t('.sign_up'), new_user_registration_path, class: "btn btn-primary btn-default" %>
          </div>
          <div class="lead hidden-xs">
            <div class="panel panel-default pull-right max-width-300">
              <div class="panel-body">
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                  <%- if devise_mapping.omniauthable? %>
                    <%- resource_class.omniauth_providers.each do |provider| %>
                      <%= link_to omniauth_authorize_path(resource_name, provider), class: "btn btn-facebook btn-wide margin-btm-15" do %>
                        <%= t('.fb_connect') %>
                      <% end %>
                    <% end -%>
                  <% end -%>
                  <div class="">
                    <div class="form-group">
                      <%= f.email_field :email, required: true, class: "form-control", placeholder: "Email" %>
                    </div>
                    <div class="form-group margin-btm-5">
                      <%= f.password_field :password, required: true, autocomplete: "off", class: "form-control", placeholder: t('.password') %>
                    </div>
                    <%= link_to t('.password_forgotten'), new_password_path(resource_name), class: "forgotten" %><br />
                    <%= f.submit t('.connection'), class: "btn btn-primary btn-wide margin-top-5"%>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <div class="lead lead-2 hidden-xs">
            <div class="panel panel-default pull-right max-width-300">
              <div class="panel-body">
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                  <div class="">
                    <div class="border-top text-center margin-top-7">
                      <p class="connection">
                        <%= t('.no_account') %>
                      </p>
                    </div>
                    <div class="form-group">
                      <%= f.email_field :email, required: true, class: "form-control", placeholder: "Email" %>
                    </div>
                    <div class="form-group">
                      <%= f.password_field :password, required: true, autocomplete: "off", class: "form-control", placeholder: t('.password') %>
                    </div>
                    <div class="form-group">
                      <%= f.password_field :password_confirmation, required: true, autocomplete: "off",placeholder: t('.confirm'), class: "form-control" %>
                    </div>
                    <%= f.submit t('.create_account'), class: "btn btn-primary btn-wide"%>
                  </div>
                <% end %>
                <p class="mini text-left">
                  <%= t('.warning') %> <%= link_to t('.terms').downcase, terms_path %>.
                </p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div id="product">
  <div class='container'>
    <div class="row">
      <div class="col-sm-12">
        <div class="lead lead-2">
          <h1><%= t('.lead_header') %></h1>
          <p>
            <%= t('.lead_content') %>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div id="webApp">
          <div id="webFinderBar">•••</div>
          <div id="webAppContainer">
            <%= image_tag "wall.png", class: "img" %>
            <%= image_tag "wall_2.png", 'data-sr' => 'wait 5s then enter right move 100%', class: "img" %>
            <%= image_tag "offers.png", 'data-sr' => 'wait 10s then enter right move 100%', class: "img" %>
            <%= image_tag "offers_3.png", 'data-sr' => 'wait 15s then enter right move 100%', class: "img" %>
            <%= image_tag "offer_camera.png", 'data-sr' => 'wait 20s then enter right move 100%', class: "img" %>
            <%= image_tag "booking.png", 'data-sr' => 'wait 25s then enter right move 100%', class: "img" %>
            <%= image_tag "profile.png", 'data-sr' => 'wait 30s then enter right move 100%', class: "img" %>
            <%= image_tag "comment.png", 'data-sr' => 'wait 35s then enter right move 100%', class: "img" %>
            <%= image_tag "wall.png", 'data-sr' => 'wait 40s then enter right move 100%', class: "img" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="community">
  <div class='container'>
    <div class="row">
      <div class="col-sm-4">
        <div class="lead lead-2">
          <h1><%= t('.feature_1_header') %></h1>
          <p>
            <%= t('.feature_1_content') %>
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="lead lead-2">
          <h1><%= t('.feature_2_header') %></h1>
          <p>
            <%= t('.feature_2_content') %>
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="lead lead-2">
          <h1><%= t('.feature_3_header') %></h1>
          <p>
            <%= t('.feature_3_content') %>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class='wrapper-end'>
    <div class='container'>
      <div class='row'>
        <div class="col-sm-10">
          <div class="lead">
            <h1><%= t('.location') %> <strong>Paris</strong>...</h1>
            <p>
              <%= t('.location_content') %>
              <br>
              <%= t('.initiate') %>
            </p>
            <p>
              <% unless user_signed_in? %>
                <div class="text-center">
                  <%= link_to t('.sign_up'), new_user_registration_path, class: "btn btn-default" %>
                </div>
              <% end %>
              <br>
              <br>
            </p>
            <p>
              <%= t('.follow_us_1') %> <%= link_to "facebook", "https://facebook.com/lvly.hood", target: "_blank" %> & <%= link_to "twitter", "https://twitter.com/LvlyHood", target: "_blank" %> <%= t('.follow_us_2') %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= content_for :js do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      $('#see-more').on('click', function(){
        var id = $(this).attr("href");
        $('body').animate({scrollTop: $(id).offset().top}, "slow")
        return false
      })
    })
  <% end %>
<% end %>