<%= content_for(:title) do %>
  Bienvenue sur Lovely Hood
<% end %>
<%= content_for(:description) do %>
  Lovely Hood vous permet d'accéder à tous les biens et services proposés par des particuliers, à moins de 10 min à pied !
<% end %>
<div id="mosaic">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <div class="lead" id="">
          <h1>Votre voisinage est plein de ressources.</h1>
          <h3>
            Vous cherchez un bien ou un service ?
            <br>
            Trouvez-le près de chez vous.
          </h3>
        </div>
      </div>
      <div class="col-sm-5 padding-right-none">
        <% unless user_signed_in? %>
          <div class="text-center lead visible-xs padding-top-none">
            <%= link_to 'Inscription', new_user_registration_path, class: "btn btn-default" %>
          </div>
          <div class="lead hidden-xs">
            <div class="panel panel-default pull-right max-width-300">
              <div class="panel-body">
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                  <%- if devise_mapping.omniauthable? %>
                    <%- resource_class.omniauth_providers.each do |provider| %>
                      <%= link_to omniauth_authorize_path(resource_name, provider), class: "btn btn-facebook btn-wide margin-btm-15" do %>
                        Connexion avec facebook
                      <% end %>
                    <% end -%>
                  <% end -%>
                  <br>
                  <div class="">
                    <div class="form-group">
                      <%= f.email_field :email, required: true, class: "form-control", placeholder: "Email" %>
                    </div>
                    <div class="form-group">
                      <%= f.password_field :password, required: true, autocomplete: "off", class: "form-control", placeholder: "Mot de passe" %>
                    </div>
                    <div class="form-group">
                      <%= f.password_field :password_confirmation, required: true, autocomplete: "off",placeholder: "Confirmation mot de passe", class: "form-control" %>
                    </div>
                    <%= f.submit "Créer un compte", class: "btn btn-primary btn-wide"%>
                  </div>
                <% end %>
                <p class="mini text-left">
                  En créant un compte, vous acceptez les <%= link_to "Conditions générales", terms_path %> de Lovely Hood.
                </p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div id="product">
  <div class='container'>
    <div class="row">
      <div class="col-sm-12">
        <div class="lead lead-2">
          <h1>Tous les biens et services, à <strong>moins de 10 min à pied</strong></h1>
          <p>
            Notre algorithme calcule les temps de trajet depuis votre domicile et sélectionne avec précision les offres à vous proposer, pour vous assurer une expérience de qualité.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div id="webApp">
          <div id="webFinderBar">•••</div>
          <div id="webAppContainer">
            <%= image_tag "offers.png", class: "img" %>
            <%= image_tag "offers_2.png", 'data-sr' => 'wait 3s then enter right move 100%', class: "img" %>
            <%= image_tag "offers_3.png", 'data-sr' => 'wait 6s then enter right move 100%', class: "img" %>
            <%= image_tag "offer_camera.png", 'data-sr' => 'wait 9s then enter right move 100%', class: "img" %>
            <%= image_tag "booking.png", 'data-sr' => 'wait 12s then enter right move 100%', class: "img" %>
            <%= image_tag "profile.png", 'data-sr' => 'wait 15s then enter right move 100%', class: "img" %>
            <%= image_tag "comment.png", 'data-sr' => 'wait 18s then enter right move 100%', class: "img" %>
            <%= image_tag "offers.png", 'data-sr' => 'wait 21s then enter right move 100%', class: "img" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="community">
  <div class='container'>
    <div class="row">
      <div class="col-sm-6">
        <div class="lead lead-2">
          <h1>Proximité</h1>
          <p>
            Votre communauté est ainsi constituée exclusivement des utilisateurs résidant à moins de 10 min à pied de chez vous.
          </p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="lead lead-2">
          <h1>Confiance</h1>
          <p>
            Pour votre tranquilité, nous vérifions l'identité et l'adresse de chacun de nos membres.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="lead lead-2">
          <h1>Ergonomie</h1>
          <p>
            Contactez l'auteur de l'annonce pour plus d'information, ou réservez directement le produit souhaité en un clic.
          </p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="lead lead-2">
          <h1>Sécurité</h1>
          <p>
            Payez directement en ligne, notre prestataire <%= link_to "Stripe", "https://stripe.com", "target" => "_blank" %> sécurise vos paiements.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class='wrapper-end'>
    <div class='container'>
      <div class='row'>
        <div class="col-sm-10">
          <div class="lead">
            <h1>Lovely Hood est à <strong>Paris</strong>.</h1>
            <p>L'inscription est aujourd'hui ouverte à la création d'annonces uniquement. <br>Nous lancerons le produit quartier par quartier, une fois la concentration d'offres souhaitée atteinte, pour vous offrir le meilleur service.</p>
            <% unless user_signed_in? %>
              <div class="text-center">
                <%= link_to 'Inscription', new_user_registration_path, class: "btn btn-default" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>