<%= form_for(@offer) do |f| %>
  <div class="form-group">
    <%= f.label :type, "Type", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select :type, [["Location", :rent], ["Vente", :sell], ["Service", :service]], {}, { class: "form-control", id: "type-select" } %>
    </div>
  </div>

  <div class="form-group" id="nature-select-rent">
    <%= f.label :nature, "Titre", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select :nature, NATURES[:rent],
                   { include_blank: true },
                   { class: 'chosen-select' } %>
    </div>
  </div>

  <div class="form-group hidden" id="nature-select-service">
    <%= f.label :nature, "Titre", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select :nature, NATURES[:service],
                   { include_blank: true },
                   { class: 'chosen-select' } %>
    </div>
  </div>

  <div class="form-group hidden" id="nature-select-sell">
    <%= f.label :nature, "Titre", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :nature, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, "Description", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :description, class: "form-control" %>
    </div>
  </div>

  <div class="form-group service">
    <%= f.label :hourly_price, "Prix (/heure)", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :hourly_price, class: "form-control" %>
    </div>
  </div>

  <div class="form-group rent">
    <%= f.label :daily_price, "Prix (/jour)", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :daily_price, class: "form-control" %>
    </div>
  </div>

  <div class="form-group rent">
    <%= f.label :weekly_price, "Prix (/semaine)", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :weekly_price, class: "form-control" %>
    </div>
  </div>

  <div class="form-group sell">
    <%= f.label :price, "Prix", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :price, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :photo, "Photo", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.file_field :picture, label: "Parcour" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :public, "Publique ?", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.check_box :public %>
      <p>En cochant cette case, vous autorisez les visiteurs du site qui ne sont pas membres de Lovely hood à voir votre annonce et à vous contacter pour vous faire une demande.</p>
    </div>
  </div>
  <br>
  <div class="form-group margin-btm-none">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-10">
      <%= f.submit "Créer l'annonce", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>