<%= form_for(@offer) do |f| %>
  <div class="form-group">
    <%= f.label :type_of_offer, "Type", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select :type_of_offer, [["Location", :rent], ["Vente", :sell], ["Service", :service]], {}, { class: "form-control", id: "type-select" } %>
    </div>
  </div>

  <div class="form-group hidden show-service" id="nature-select-service">
    <%= f.label :nature, "Titre", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">

      <%= f.select :nature, NATURES[:service],
                   { include_blank: true },
                   { class: "chosen-select", id: 'service' } %>
    </div>
  </div>

  <div class="form-group hidden show-sell" id="nature-select-sell">
    <%= f.label :nature, "Titre", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :nature, class: 'form-control', id: 'sell' %>
    </div>
  </div>

  <div class="form-group show-rent" >
    <%= f.label :nature, "Titre", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select :nature, NATURES[:rent],
                   { include_blank: true },
                   { class: "chosen-select", id: 'rent' } %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, "Description", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :description, class: "form-control" %>
    </div>
  </div>

  <div class="form-group service show-service hidden">
    <%= f.label :hourly_price, "Prix", class: "col-sm-2 control-label" %>
    <div class="col-sm-5">
      <%= f.text_field :hourly_price, class: "form-control" %>
    </div>
    <div class="col-sm-5 padding-vertical-6">
      €/ heure
    </div>
  </div>

  <div class="form-group show-rent">
    <%= f.label :daily_price, "Prix", class: "col-sm-2 control-label" %>
    <div class="col-sm-5">
      <%= f.text_field :daily_price, class: "form-control" %>
    </div>
    <div class="col-sm-5 padding-vertical-6">
      €/ jour
    </div>
  </div>

  <div class="form-group show-rent">
    <%= f.label :weekly_price, "Prix", class: "col-sm-2 control-label" %>
    <div class="col-sm-5">
      <%= f.text_field :weekly_price, class: "form-control" %>
    </div>
    <div class="col-sm-5 padding-vertical-6">
      €/ semaine
    </div>
  </div>

  <div class="form-group show-sell hidden">
    <%= f.label :price, "Prix", class: "col-sm-2 control-label" %>
    <div class="col-sm-5">
      <%= f.text_field :price, class: "form-control" %>
    </div>
    <div class="col-sm-5 padding-vertical-6">
      €
    </div>
  </div>

  <div class="form-group">
    <%= f.label :photo, "Photo", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.file_field :picture, label: "Parcour" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :public, "Publique ?", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.check_box :public %>
      <p>En cochant cette case, vous autorisez les visiteurs du site qui ne sont pas membres de Lovely hood à voir votre annonce et à vous contacter pour vous faire une demande.</p>
    </div>
  </div>
  <br>
  <div class="form-group margin-btm-none">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-10">
      <%= f.submit "Sauvegarder", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

<% content_for(:js) do %>
  <%= javascript_tag do %>
    var type;
    var name;
    $(document).ready(function() {
      type = $('#type-select').val();
      if(type == "service") {
        $('.show-service').removeClass("hidden");
        $('.show-rent').addClass("hidden");
        $('.show-sell').addClass("hidden");
        $('#sell').attr('name', '');
        $('#rent').attr('name', '');
        $('#service').attr('name', 'offer[nature]');
      }
      if(type == "sell") {
        $('.show-sell').removeClass("hidden");
        $('.show-rent').addClass("hidden");
        $('.show-service').addClass("hidden");
        $('#service').attr('name', '');
        $('#rent').attr('name', '');
        $('#sell').attr('name', 'offer[nature]');
      }
      if(type =="rent") {
        $('.show-rent').removeClass("hidden");
        $('.show-service').addClass("hidden");
        $('.show-sell').addClass("hidden");
        $('#service').attr('name', '');
        $('#sell').attr('name', '');
        $('#rent').attr('name', 'offer[nature]');
      }

      $('#type-select').on('change', function(e) {
        type = $('#type-select').val();
        if(type == "service") {
          $('.show-service').removeClass("hidden");
          $('.show-rent').addClass("hidden");
          $('.show-sell').addClass("hidden");
          $('#sell').attr('name', '');
          $('#rent').attr('name', '');
          $('#service').attr('name', 'offer[nature]');
        }
        if(type == "sell") {
          $('.show-sell').removeClass("hidden");
          $('.show-rent').addClass("hidden");
          $('.show-service').addClass("hidden");
          $('#service').attr('name', '');
          $('#rent').attr('name', '');
          $('#sell').attr('name', 'offer[nature]');
        }
        if(type =="rent") {
          $('.show-rent').removeClass("hidden");
          $('.show-service').addClass("hidden");
          $('.show-sell').addClass("hidden");
          $('#service').attr('name', '');
          $('#sell').attr('name', '');
          $('#rent').attr('name', 'offer[nature]');
        }
      })


    });
  <% end %>
<% end %>