<%= form_for(@offer) do |f| %>
  <div class="form-group">
    <%= f.label :type_of_offer, t('.type'), class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select :type_of_offer, [[t('.rent'), :rent], [t('.sell'), :sell], [t('.service'), :service]], {}, { class: "form-control", id: "type-select" } %>
    </div>
  </div>
  <div class="form-group hidden show-service" id="nature-select-service">
    <%= f.label :nature, t('.nature'), class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select :nature, @natures[:service].sort,
                   { include_blank: true },
                   { class: "chosen-select", id: 'service' } %>
      <p class="small">
        <%= t('.suggest_service') %> <%= link_to new_user_conversation_path(User.find(1)) do %>
          <%= t('.here') %>
        <% end %>
      </p>
    </div>
  </div>
  <div class="form-group hidden show-sell" id="nature-select-sell">
    <%= f.label :nature, t('.nature'), class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :nature, class: 'form-control', id: 'sell' %>
    </div>
  </div>
  <div class="form-group show-rent">
    <%= f.label :nature, t('.nature'), class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select :nature, @natures[:rent].sort,
                   { include_blank: true },
                   { class: "chosen-select", id: 'rent' } %>
      <p class="small">
        <%= t('.suggest_rental') %> <%= link_to t('.here'), new_user_conversation_path(User.find(1)) %>
      </p>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, t('.description'), class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :description, required: true, class: "form-control" %>
      <p class="small">
        <%= t('.complete_description') %>
      </p>
    </div>
  </div>
  <div class="form-group service show-service hidden">
    <%= f.label :hourly_price, t('.price'), class: "col-sm-2 control-label" %>
    <div class="col-sm-5">
      <%= f.number_field :hourly_price, min: 0, class: "form-control" %>
    </div>
    <div class="col-sm-5 padding-vertical-6">
      <%= t('.hourly_rate') %>
    </div>
  </div>
  <div class="form-group show-rent">
    <%= f.label :daily_price, t('.price'), class: "col-sm-2 control-label" %>
    <div class="col-sm-5">
      <%= f.number_field :daily_price, min: 0, class: "form-control" %>
    </div>
    <div class="col-sm-5 padding-vertical-6">
      <%= t('.daily_rate') %>
    </div>
  </div>
  <div class="form-group show-rent">
    <%= f.label :weekly_price, "Prix", class: "col-sm-2 control-label" %>
    <div class="col-sm-5">
      <%= f.number_field :weekly_price, min: 0, class: "form-control" %>
    </div>
    <div class="col-sm-5 padding-vertical-6">
      <%= t('.weekly_rate') %>
    </div>
    <div class="col-sm-10 col-sm-offset-2">
      <p class="small"><%= t('.price_helper') %></p>
    </div>
  </div>
  <div class="form-group show-rent">
    <%= f.label :guarantee, t('.guarantee'), class: "col-sm-2 control-label" %>
    <div class="col-sm-5">
      <%= f.number_field :guarantee, min: 0, class: "form-control" %>
    </div>
    <div class="col-sm-5 padding-vertical-6">
      <%= t('.currency') %>
    </div>
  </div>
  <div class="form-group show-sell hidden">
    <%= f.label :price, t('.price'), class: "col-sm-2 control-label" %>
    <div class="col-sm-5">
      <%= f.number_field :price, min: 0, class: "form-control" %>
    </div>
    <div class="col-sm-5 padding-vertical-6">
      €
    </div>
  </div>
  <div class="form-group">
    <%= f.label :photo, t('.picture'), class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <ul class="list-unstyled list-inline margin-top-7 image-upload-trigger" id="image-upload-trigger">
        <li style="font-size: 26"><i class="fa fa-camera"></i></li>
        <li class=""><%= t('.upload', default: "Parcourir") %></li>
      </ul>
      <%= f.file_field :picture, class: "margin-top-6 hidden" %>
      <%= image_tag "", class: "img hidden", id: "target" %>
    </div>
  </div>
  <br>
  <div class="form-group margin-btm-none">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-10">
      <%= f.submit t('.save'), class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
<% content_for(:js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      $('#image-upload-trigger').on('click', function() {
        $('#offer_picture').click();
      })
    });
  <% end %>
<% end %>