<div class="offer-stream-box">
  <div class="row">
    <div class="col-xs-1">
      <div class="img-nature-box">
        <%= image_tag "drill.png", class: "img img-nature" %>
      </div>
    </div>
    <div class="col-xs-9 padding-left-30">
      <h4 class="margin-none"><%= link_to offer.nature, offer_path(offer), class: "offer-nature-link" %></h4>
      <p class="margin-top-10"><%= offer.description %> <%=link_to "Voir l'annonce complète", offer_path(offer) %></p>
      <ul class="list-unstyled list-inline">
        <li class="float-left">
          <%= link_to "#" do %>
            <i class="fa fa-camera"></i> Voir la photo
          <% end %>
        </li>
        <li class="float-left">
          <%= link_to "#" do %>
            <i class="fa fa-envelope"></i> Demande d'info
          <% end %>
        </li>
        <li class="float-left">
          <%= link_to "#" do %>
            <i class="fa fa-star"></i> Enregistrer
          <% end %>
        </li>
      </ul>
    </div>
    <div class="col-xs-2">
      <%= link_to "Modifier l'annonce", edit_offer_path(@offer), class: "btn btn-primary btn-wide" %>
      <% if @verif == 0 %>
        <br>
        <%= form_for @offer, method: :patch, url: offer_path(@offer)  do |f| %>
          <%= f.select :published, [["Publiée", true], ["Masquée", false]] %>
          <%= f.submit "Enregistrer" %>
        <% end %>
      <% else %>
        <br>
        <br>
        <%= link_to edit_user_path(current_user, anchor: "my-trust"), class: "btn btn-default btn-wide" do %>
          <%= pluralize(@verif, 'étape') %> pour publier
        <% end %>
      <% end %>
    </div>
  </div>
</div>
