<div class="offer-stream-box">
  <div class="row">
    <div class="offer-preview-box">
      <div class="col-xs-1">
        <div class="img-nature-box">
          <%= image_tag "drill.png", class: "img img-nature" %>
        </div>
      </div>
      <div class="col-xs-9">
        <h4><%= link_to offer.nature, offer_path(offer), class: "" %></h4>
        <p><%= offer.description %> <%=link_to "Voir l'annonce complète", offer_path(offer) %></p>
        <ul class="list-unstyled list-inline">
          <li><%= link_to "Voir la photo", "#" %></li>
          <li><%= link_to "Enregistrer", "#" %></li>
          <li><%= link_to "Contacter propr.", "#" %></li>
          <li><%= link_to "Voir dispo.", "#" %></li>
        </ul>
      </div>
      <div class="col-xs-2">
        <h4><%= offer.one_price %></h4>
      </div>
    </div>
  </div>
</div>
