<% path = asset_path("#{offer.type_of_offer == "sell" ? "sell" : offer.nature}.png") %>
<div id="myOffer_<%= offer.id %>" class="card" data-container="#popContainer_<%= offer.id %>" data-toggle="popover" data-trigger="click" data-container="body" data-content="<%= (
  '<a href=' + offer_path(offer) + '>' +
    '<div class=popover-header style=background-image:url(' + (offer.picture_file_name.nil? ? image_url('no-image.png') : offer.picture.url(:medium)) + ')>' +
      '<img src=&quot;' + path + '&quot; />' +
    '</div>' +
  '</a>' +
  '<p>' + (offer.description.gsub('"', '&quot;  ').gsub("'", "&#39;") unless (offer.description == "" || offer.description.nil?)) + '</p>' +
  '<a href=&quot;' + edit_offer_path(offer) + '&quot;>' + t(".edit") + (offer.i18n_nature(params[:locale])) + '</a>' +
  '<div class=&quot;form-group montserrat&quot;>' +
    '<select class=&quot;form-control offer_published&quot;>' +
      '<option ' + (offer.published ? '' : 'selected=selected') + ' value=false>' + t('.hidden') + '</option>' +
      '<option ' + (offer.published ? 'selected=selected' : '') + ' value=true>' + t('.published') + '</option>' +
    '</select>' +
  '</div>' +
  '<div class=text-center>' +
    '<span class=&quot;badge small-badge ' + (offer.published ? '' : 'small-badge-off') + '&quot;> </span>' +
  '</div>'
 ).html_safe %>">
  <span class="card-bg" style="background-image: url('<%= offer.picture_file_name.nil? ? image_url('no-image.png') : offer.picture.url(:medium) %>')"></span>
  <span class="card-shadow"></span>
  <span class="card-description">
    <% if offer.one_price_int == 0 %>
      <%= t('.free') %>
    <% else %>
      <%= offer.one_price(t('.hourly_price'), t('.weekly_price'), t('.daily_price')) ? offer.one_price(t('.hourly_price'), t('.weekly_price'), t('.daily_price')) : "" %>
    <% end %>
  </span>
  <span class="card-text">
    <h2><%= offer.i18n_nature(params[:locale]) %></h2>
  </span>
  <span class="card-user">
    <%= image_tag "#{offer.type_of_offer == "sell" ? "sell" : offer.nature}.png" %>
  </span>
  <%= link_to "", offer_path(offer), class: "card-link" %>
</div>
