<%= link_to offer_path(offer) do %>
  <div class="offer-stream-box border-top">
    <div class="row">
      <div class="col-xs-1">
        <div class="img-nature-box">
          <%= image_tag "#{offer.type_of_offer == "sell" ? "sell" : offer.nature}.png", class: "img-nature" %>
        </div>
      </div>
      <div class="col-sm-7 col-xs-5 padding-left-30">
        <ul class="margin-none list-unstyled list-inline">
          <li class="padding-left-none offer-nature-link"><%= offer.nature %></li>
          <li class="padding-left-none font-normal"><%= offer.one_price(t('.hourly_price'), t('.weekly_price'), t('.daily_price')) ? offer.one_price(t('.hourly_price'), t('.weekly_price'), t('.daily_price')) : "" %></li>
        </ul>
        <p class="margin-top-10 font-normal hidden-xs"><%= offer.description.size > 50 ? offer.description[0..49] + "..." : offer.description %></p>
      </div>
      <div class="col-sm-4 col-xs-5 padding-left-none" id="<%= "append-target_#{offer.id}" %>">
        <% if current_user.authorized.nil? %>
        <% elsif current_user.trust_steps == 0 %>
          <%= form_for offer, method: :patch, remote: true, url: offer_path(offer), id: "publish-form"  do |f| %>
            <div class="col-xs-9 padding-left-none">
              <%= f.select :published, [[t('.hidden'), false], [t('.published'), true]], {}, { class: "form-control btn-margin height-40" } %>
            </div>
            <div class="col-xs-3 padding-none">
              <%= button_tag(type: 'submit', class: "btn btn-success btn-margin btn-wide", id: "publish-submit") do %>
                <i class="fa fa-save"></i>
              <% end %>
            </div>
          <% end %>
        <% else %>
          <div class="col-xs-12">
            <%= link_to edit_user_path(current_user, anchor: "my-trust"), class: "btn btn-default btn-wide btn-margin" do %>
              <%= pluralize(current_user.verif, t('.step')) %> <span class="hidden-xs"><%= t('.to_publish') %></span>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>