<%= link_to offer_path(offer) do %>
  <div class="offer-stream-box border-top">
    <div class="row">
      <div class="col-xs-1">
        <div class="img-nature-box">
          <%= image_tag "#{offer.type_of_offer == "sell" ? "sell" : offer.nature}.png", class: "img-nature" %>
        </div>
      </div>
      <div class="col-sm-7 col-xs-5 padding-left-30">
        <div class="margin-none"><%= ("<strong>" + offer.nature + "</strong>").html_safe + (offer.one_price ? ", #{offer.one_price}" : "") %></div>
        <p class="margin-top-10 font-normal"><%= offer.description.size > 50 ? offer.description[0..49] + "..." : offer.description %></p>
      </div>
      <div class="col-sm-4 col-xs-6 padding-none" id="<%= "append-target_#{offer.id}" %>">
        <% if current_user.authorized.nil? %>

        <% elsif current_user.verif == 0 %>
          <%= form_for offer, method: :patch, remote: true, url: offer_path(offer), id: "publish-form"  do |f| %>
            <div class="col-xs-9 padding-left-none">
              <%= f.select :published, [["Masquée", false], ["Publiée", true]], {}, { class: "form-control btn-margin height-40" } %>
            </div>
            <div class="col-xs-3 padding-left-none">
              <%= button_tag(type: 'submit', class: "btn btn-success btn-margin btn-wide", id: "publish-submit") do %>
                <i class="fa fa-save"></i>
              <% end %>
            </div>
          <% end %>

        <% else %>
          <div class="col-xs-12">
            <%= link_to edit_user_path(current_user, anchor: "my-trust"), class: "btn btn-default btn-wide btn-margin" do %>
              <%= pluralize(current_user.verif, 'étape') %> pour publier
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>