<%= link_to t('.edit') , edit_offer_path(@offer), class: "btn btn-primary btn-wide margin-btm-15" %>
<% if @offer.user.trust_steps == 0 %>
  <%= form_for @offer, remote: true, method: :patch, url: offer_path(@offer)  do |f| %>
  <div class="row">
    <div class="col-xs-9 padding-right-10">
      <%= f.select :published, [[t('.hidden'), false], [t('.published'), true]], {}, { class: "form-control height-40" } %>
    </div>
    <div class="col-xs-3 padding-left-none">
      <%= button_tag(type: 'submit', class: "btn btn-success btn-wide") do %>
        <i class="fa fa-save"></i>
      <% end %>
    </div>
    <div class="col-xs-12 hidden margin-top-10" id="<%= "append-target_#{@offer.id}" %>"></div>
  </div>
  <% end %>
<% else %>
  <%= link_to edit_user_path(@offer.user, anchor: "my-trust"), class: "btn btn-default btn-wide" do %>
    <%= pluralize(@offer.user.trust_steps, 'étape') %> <%= t('.to_publish') %>
  <% end %>
<% end %>