<%= content_for(:title) do %>
  Annonces
<% end %>
<%= content_for(:description) do %>
  Accèdez aux annonces publiées près de chez vous
<% end %>
<%= content_for :stylesheets do %>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" />
<% end %>
<div class="container margin-none margin-top-15 total-width">
  <div class="row total-width margin-none">
    <div class="col-md-6 padding-left-none">
      <div class="map-box bg-color" id="map-box">
        <div class="panel panel-default white-bg panel-map">
          <div class="panel-heading">
            <h4>Mon quartier</h4>
          </div>
          <div class="panel-body padding-none" id="panel-body-map">
            <div id="map"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 padding-none">
      <div class="bg-color" id="sidebar">
        <div class="panel panel-default margin-btm-none white-bg">
          <div class="panel-heading">
            <h4>Annonces</h4>
            <div class="btn-group float-right margin-top-neg-26">
              <ul class="list-unstyled list-inline">
                <li><a href="#" id="default_sort" class="disabled" onclick="sortBy('', this); return false;">Trier par proximité</a></li>
                <li><a href="#" id="price_sort" onclick="sortBy('_price_asc', this); return false;">Trier par prix</a></li>
              </ul>
            </div>
          </div>
          <div class="panel-body padding-none">
            <div id="facets">
            </div>
            <div class="search-bar">
              <div class="input-group input-group m-t">
                <input type="text" name="q" id="q" autocomplete="off" spellcheck="false" autocorrect="false" class="form-control string" placeholder="Rechercher une annonce par nature, description..." />
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
              </div>
            </div>
            <div class="offers" id="hits">
            </div>
          </div>
          <div class="panel-footer padding-btm-5">
            <div id="pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<%= content_for(:js) do %>
  <script type="text/template" id="facet-template">
    <div class="facet">
      <!-- facet title -->
        <table>
          <td>
            <div class="facet-title">
              Je veux voir :
            </div>
          </td>
          <td>
          </td>
          <td>
            <ul class="list-inline list-unstyled margin-btm-none">
              {{#values}}
                <li class="{#refined}">
                  {{#disjunctive}}
                    <div class="checkbox padding-left-10">
                      <label>
                        <input class="checkbox" type="checkbox" {{#refined}}checked="checked"{{/refined}} onclick="toggleRefine('{{ facet }}', '{{ value }}'); return false;">
                        <a href="#" onclick="toggleRefine('{{ facet }}', '{{ value }}'); return false;">{{ label }}</a> ({{ count }})
                      </label>
                    </div>
                  {{/disjunctive}}
                </li>
              {{/values}}
            </ul>
          </td>
        </table>
      </div>
    </div>
  </script>
  <script type="text/template" id="hit-template">
    <div class="offer-stream-box border-btm" id="offer_{{id}}">
      <div class="row">
        <div class="col-xs-1">
          <div class="img-nature-box">
            <a href="{{offer_url}}" id="offer_{{id}}">
              <img src="{{ asset_path }}" width="60" />
            </a>
          </div>
        </div>
        <div class="col-xs-9 padding-left-30 padding-right-none">
          <h5 class="margin-none"><a href="{{offer_url}}" class="offer-nature-link neutralize" id="offer_{{id}}">{{{ _highlightResult.nature.value }}}</a></h5>
          <p class="margin-top-10">{{{ _highlightResult.description.value }}} <a href="{{offer_url}}" class="neutralize" id="offer_{{id}}">Voir l'annonce complète</a></p>
        </div>
        <div class="col-xs-2 text-right padding-top-15 padding-left-none">
          <h4 class="margin-none text-right price">
            {{#daily_price}}
              {{ daily_price }}€
            {{/daily_price}}
            {{^daily_price}}
              {{#weekly_price}}
                {{ weekly_price }}€
              {{/weekly_price}}
              {{^weekly_price}}
                {{#hourly_price}}
                  {{ hourly_price }}€
                {{/hourly_price}}
                {{^hourly_price}}
                  {{ price }}€
                {{/hourly_price}}
              {{/weekly_price}}
            {{/daily_price}}
          </h4>
          <p class="small">
            {{#daily_price}}
              / jour
            {{/daily_price}}
            {{^daily_price}}
              {{#weekly_price}}
                / semaine
              {{/weekly_price}}
              {{^weekly_price}}
                {{#hourly_price}}
                  / heure
                {{/hourly_price}}

              {{/weekly_price}}
            {{/daily_price}}
          </p>
        </div>
      </div>
      {{#picture?}}
      <div class="row">
        <div class="col-xs-12 text-center padding-vertical-10 hidden" id="picture_{{ id }}">
          <a href="{{ large_picture_url }}" class="fancybox" id="single-image" rel="group">
            <img src="{{ picture_url }}" class="img-offer-pop"/>
          </a>
        </div>
      </div>
      {{/picture?}}
      <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-11 padding-left-30">
          <ul class="list-unstyled list-inline small">
            {{#picture?}}
            <li class="float-left">
              <a href="#" class="see-img hidden-xs" id="show_picture_{{id}}">
                Voir photo
              </a>
              <a href="#" class="see-img hidden" id="hide_picture_{{id}}">
                Cacher photo
              </a>
            </li>
            {{/picture?}}
            {{^picture?}}
            <li class="float-left">
              <a href="#" class="disabled hidden-xs">
                Voir photo
              </a>
            </li>
            {{/picture?}}
            <li class="float-right">
              <a href="{{ new_booking_url }}" class="neutralize" id="offer_{{id}}">
                <i class="hidden-sm hidden-md hidden-lg">&nbsp;&nbsp;&nbsp;&nbsp;</i><i class="fa fa-check"></i> <i class="hidden-xs">Réserver</i>
              </a>
            </li>
            <li class="float-right">
              <a href="{{ message_url }}" class="neutralize" id="offer_{{id}}">
                <i class="hidden-sm hidden-md hidden-lg">&nbsp;&nbsp;&nbsp;&nbsp;</i><i class="fa fa-envelope"></i> <i class="hidden-xs">Demande d'info</i>
              </a>
            </li>
            <li class="float-right">
              {{#wished}}
                <a href="{{ unwish_url }}" class="neutralize wished" data-method="put" data-remote="true" id="wishOffer_{{id}}">
                  <i class="fa fa-star"></i><i class="hidden-xs"> Délister</i>
                </a>
              {{/wished}}
              {{^wished}}
                <a href="{{ wish_url }}" class="neutralize" data-method="put" data-remote="true" id="wishOffer_{{id}}">
                  <i class="fa fa-star"></i><i class="hidden-xs"> Enregistrer</i>
                </a>
              {{/wished}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </script>
  <script type="text/template" id="pagination-template">
    <div class="text-center">
      <ul class="pagination">
        <li {{^prev_page}}class="disabled"{{/prev_page}}><a href="#" onclick="{{#prev_page}}gotoPage({{ prev_page }});{{/prev_page}} return false;">&laquo;</a></li>
        {{#pages}}
          <li class="{{#current}}active{{/current}}{{#disabled}}disabled{{/disabled}}"><a href="#" onclick="{{^disabled}}gotoPage({{ number }});{{/disabled}} return false;">{{ number }}</a></li>
        {{/pages}}
        <li {{^next_page}}class="disabled"{{/next_page}}><a href="#" onclick="{{#next_page}}gotoPage({{ next_page }});{{/next_page}} return false;">&raquo;</a></li>
      </ul>
    </div>
  </script>
  <!-- Hogan -->
  <script src="//cdn.jsdelivr.net/hogan.js/3.0.0/hogan.common.js"></script>
  <!-- Algolia -->
  <script src="//cdn.jsdelivr.net/algoliasearch/latest/algoliasearch.js"></script>
  <!-- Fancybox -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>


  <%= javascript_tag do %>
    $(document).ready(function() {
      $('#offers-nav-link').addClass("hover");
      $(window).on('resize', function() {
        togglePaddingRight();
        adjustNatureIconsSize();
        toggleFacets();
        adjustDivsHeights();
      });
      var myLatlng = new google.maps.LatLng(
        '<%= current_user.latitude %>',
        '<%= current_user.longitude %>'
      );
      var mapOptions = {
        zoom: 15,
        center: myLatlng,
        draggable: true,
        scrollwheel: false,
        minZoom: 15,
        maxZoom: 18
      }
      var map = new google.maps.Map(document.getElementById("map"), mapOptions);

      var allowedBounds = new google.maps.LatLngBounds(
        new google.maps.LatLng(<%= current_user.latitude - 0.003 %> , <%= current_user.longitude - 0.003 %>),
        new google.maps.LatLng(<%= current_user.latitude + 0.003 %>, <%= current_user.longitude + 0.003 %>)
      );
      var lastValidCenter = map.getCenter();

      google.maps.event.addListener(map, 'center_changed', function() {
        if (allowedBounds.contains(map.getCenter())) {
            // still within valid bounds, so save the last valid position
            lastValidCenter = map.getCenter();
            return;
        }

        // not valid anymore => return to last valid position
        map.panTo(lastValidCenter);
      });
      var markers = [];
      initAlgolia(
        '<%= ENV['ALGOLIA_APPLICATION_ID'] %>',
        '<%= ENV['ALGOLIA_SEARCH_ONLY_API_KEY'] %>',
        'Offer<%= ENV['ALGOLIA_SUFFIX']%>',
        "<%= offer_path(id: ":id") %>",
        "<%= new_offer_booking_path(offer_id: ":offer_id") %>",
        "<%= new_offer_conversation_path(offer_id: ":offer_id") %>",
        "<%= wish_offer_path(id: ":id") %>",
        "<%= unwish_offer_path(id: ":id") %>",
        "<% asset_paths = [asset_path('sell.png')]
          NATURES[:rent].each do |nature|
            asset_paths << asset_path("#{nature}.png")
          end
          NATURES[:service].each do |nature|
            asset_paths << asset_path("#{nature}.png")
          end
        %><%= asset_paths %>",
        '<%= current_user.latitude %>',
        '<%= current_user.longitude %>',
        map,
        markers,
        '<%= current_user.find_voted_items.map { |offer| offer.id } %>'
      );

      $('#default_sort').on('click', function(e) {
        $(this).addClass("disabled");
        $('#price_sort').removeClass("disabled");
      });

      $('#price_sort').on('click', function(e) {
        $(this).addClass("disabled");
        $('#default_sort').removeClass("disabled");
      });
    });
  <% end %>
<% end %>