<div class="map-box bg-color" id="map-box">
  <div class="panel panel-default white-bg">
    <div class="panel-heading">
      <h3>Mon quartier</h3>
    </div>
    <div class="panel-body padding-none">
      <div id="map"></div>
    </div>
  </div>
</div>

<div class="bg-color" id="sidebar">
  <div class="panel panel-default white-bg">
    <div class="panel-heading">
      <h3>Annonces</h3>
      <!-- <div class="btn-group">
        <ul class="list-unstyled list-inline">
          <li><a href="#" onclick="sortBy('', this); return false;">Trier par proximité</a></li>
          <li><a href="#" onclick="sortBy('_daily_price_asc', this); return false;">Trier par prix</a></li>
        </ul>
      </div> -->
    </div>
    <div class="panel-body padding-none">
      <div id="facets">
      </div>
      <div class="search-bar">
        <div class="input-group input-group m-t">
          <input type="text" name="q" id="q" autocomplete="off" spellcheck="false" autocorrect="false" class="form-control string" placeholder="Rechercher une annonce par nature, description..." />
          <span class="input-group-addon"><i class="fa fa-search"></i></span>
        </div>
      </div>
      <div id="hits">
      </div>
    </div>
  </div>
  <div id="pagination"></div>
</div>

<% content_for(:js) do %>
  <script type="text/template" id="facet-template">
    <div class="facet">
      <!-- facet title -->
        <table>
          <td>
            <div class="facet-title">
              Je veux voir :
            </div>
          </td>
          <td>
          </td>
          <td>
            <ul class="list-inline list-unstyled margin-btm-none">
              {{#values}}
                <li class="{#refined}">
                  {{#disjunctive}}
                    <div class="checkbox padding-left-10">
                      <label>
                        <input class="checkbox" type="checkbox" {{#refined}}checked="checked"{{/refined}} onclick="toggleRefine('{{ facet }}', '{{ value }}'); return false;">
                        <a href="#" onclick="toggleRefine('{{ facet }}', '{{ value }}'); return false;">{{ label }}</a> ({{ count }})
                      </label>
                    </div>
                  {{/disjunctive}}
                </li>
              {{/values}}
            </ul>
          </td>
        </table>
      </div>
    </div>
  </script>
  <script type="text/template" id="hit-template">
    <div class="offer-stream-box">
      <div class="row">
        <div class="col-xs-1">
          <div class="img-nature-box">
            <a href="{{url}}">
              <%= image_tag("drill.png", width: "60") %>
            </a>
          </div>
        </div>
        <div class="col-xs-9 padding-left-30">
          <h4 class="margin-none"><a href="{{url}}" class="offer-nature-link">{{{ _highlightResult.nature.value }}}</a></h4>
          <p class="margin-top-10">{{{ _highlightResult.description.value }}} <a href="{{url}}">Voir l'annonce complète</a></p>
        </div>
        <div class="col-xs-2 text-right padding-top-15 padding-right-20">
          <h3 class="margin-none price">
            {{#daily_price}}
              {{ daily_price }}€
            {{/daily_price}}
            {{^daily_price}}
              {{#weekly_price}}
                {{ weekly_price }}€
              {{/weekly_price}}
              {{^weekly_price}}
                {{#hourly_price}}
                  {{ hourly_price }}€
                {{/hourly_price}}
                {{^hourly_price}}
                  {{ price }}€
                {{/hourly_price}}
              {{/weekly_price}}
            {{/daily_price}}
          </h3>
          <p>
            {{#daily_price}}
              / jour
            {{/daily_price}}
            {{^daily_price}}
              {{#weekly_price}}
                / semaine
              {{/weekly_price}}
              {{^weekly_price}}
                {{#hourly_price}}
                  / heure
                {{/hourly_price}}

              {{/weekly_price}}
            {{/daily_price}}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-11 padding-left-30">
          <ul class="list-unstyled list-inline">
            <li class="float-left">
              <a href="#" id="see-img">
                Voir photo
              </a>
            </li>
            <li class="float-right">
              <a href="{{ new_booking_url }}">
                <i class="fa fa-check"></i> Réserver
              </a>
            </li>
            <li class="float-right">
              <a href="#">
                <i class="fa fa-envelope"></i> Demande d'info
              </a>
            </li>
            <li class="float-right">
              <a href="#">
                <i class="fa fa-star"></i> Enregistrer
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </script>
  <script type="text/template" id="pagination-template">
    <div class="text-center">
      <ul class="pagination">
        <li {{^prev_page}}class="disabled"{{/prev_page}}><a href="#" onclick="{{#prev_page}}gotoPage({{ prev_page }});{{/prev_page}} return false;">&laquo;</a></li>
        {{#pages}}
          <li class="{{#current}}active{{/current}}{{#disabled}}disabled{{/disabled}}"><a href="#" onclick="{{^disabled}}gotoPage({{ number }});{{/disabled}} return false;">{{ number }}</a></li>
        {{/pages}}
        <li {{^next_page}}class="disabled"{{/next_page}}><a href="#" onclick="{{#next_page}}gotoPage({{ next_page }});{{/next_page}} return false;">&raquo;</a></li>
      </ul>
    </div>
  </script>
  <!-- Hogan -->
  <script src="//cdn.jsdelivr.net/hogan.js/3.0.0/hogan.common.js"></script>
  <!-- Algolia -->
  <script src="//cdn.jsdelivr.net/algoliasearch/latest/algoliasearch.js"></script>



  <%= javascript_tag do %>
    $(document).ready(function() {
      var myLatlng = new google.maps.LatLng(
        '<%= current_user.latitude %>',
        '<%= current_user.longitude %>'
      );
      var mapOptions = {
        zoom: 16,
        center: myLatlng
      }
      var map = new google.maps.Map(document.getElementById("map"), mapOptions);
      var markers = [];
      initAlgolia(
        '<%= ENV['ALGOLIA_APPLICATION_ID'] %>',
        '<%= ENV['ALGOLIA_SEARCH_ONLY_API_KEY'] %>',
        'Offer<%= ENV['ALGOLIA_SUFFIX']%>',
        "<%= offer_path(id: ":id") %>",
        "<%= new_offer_booking_path(offer_id: ":offer_id") %>",
        '<%= current_user.latitude %>',
        '<%= current_user.longitude %>',
        map,
        markers
      );
    });
  <% end %>
<% end %>