<div class="map-box bg-color" id="map-box">
  <div class="panel panel-default white-bg">
    <div class="panel-heading">
      <h3>Mon quartier</h3>
    </div>
    <div class="panel-body padding-none">
      <div id="map"></div>
    </div>
  </div>
</div>

<div class="bg-color" id="sidebar">
  <div class="panel panel-default white-bg">
    <div class="panel-heading">
      <h3>Annonces</h3>
      <!-- <div class="btn-group">
        <ul class="list-unstyled list-inline">
          <li><a href="#" onclick="sortBy('', this); return false;">Trier par proximité</a></li>
          <li><a href="#" onclick="sortBy('_daily_price_asc', this); return false;">Trier par prix</a></li>
        </ul>
      </div> -->
    </div>
    <div class="panel-body padding-none">
      <div class="search-bar">
        <div class="input-group input-group m-t">
          <input type="text" name="q" id="q" autocomplete="off" spellcheck="false" autocorrect="false" class="form-control string" placeholder="Rechercher une annonce par nature, description..." />
          <span class="input-group-addon"><i class="fa fa-search"></i></span>
        </div>
      </div>
      <div id="hits">
      </div>
    </div>
  </div>
</div>

<% content_for(:js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    });
  <% end %>

  <%= javascript_tag do %>
    $(document).ready(function() {
      // Replace the following values by your ApplicationID and ApiKey.
      var algolia = new AlgoliaSearch(
        '<%= ENV['ALGOLIA_APPLICATION_ID'] %>',
        '<%= ENV['ALGOLIA_SEARCH_ONLY_API_KEY'] %>'
      );


      var helper = new AlgoliaSearchHelper(algolia, 'Offer<%= ENV['ALGOLIA_SUFFIX']%>', {
        // number of results per page
        hitsPerPage: 20
      });

      var $hits = $('#hits');
      var $q = $('#q');
      var $hitTemplate = Hogan.compile($('#hit-template').text());

      function searchCallback(success, content) {
        if (!success || content.query !== $q.val()) {
          // do not consider the result if there is an error
          // or if it is outdated -> query != $q.val()
          return;
        }

        var html = '';

        for (var i = 0; i < content.hits.length; ++i) {
          var url = "<%= offer_path(id: ":id") %>".replace(":id", content.hits[i].id);
          content.hits[i].url = url;
          html += $hitTemplate.render(content.hits[i]);
        }
        $hits.html(html);
      }

      function search() {
        // perform the query
        helper.search($q.val(), searchCallback);
      }

      // input binding
      var lastQuery = $q.val();
      $q.on('keyup change', function() {
        if ($q.val() != lastQuery) {
          lastQuery = $q.val();
          search();
        }
      }).focus();

      // load results
      search();
    });
  <% end %>
  <script type="text/template" id="hit-template">
    <div class="offer-stream-box">
      <div class="row">
        <div class="col-xs-1">
          <div class="img-nature-box">
            <a href="{{url}}">
              <%= image_tag("drill.png", width: "60") %>
            </a>
          </div>
        </div>
        <div class="col-xs-9 padding-left-30">
          <h4 class="margin-none"><a href="{{url}}" class="offer-nature-link">{{ nature }}</a></h4>
          <p class="margin-top-10">{{ description }} <a href="{{url}}">Voir l'annonce complète</a></p>
        </div>
        <div class="col-xs-2 text-right padding-top-15 padding-right-20">
          <h3 class="margin-none price">
            {{#daily_price}}
              {{ daily_price }}€
            {{/daily_price}}
            {{^daily_price}}
              {{#weekly_price}}
                {{ weekly_price }}€
              {{/weekly_price}}
              {{^weekly_price}}
                {{#hourly_price}}
                  {{ hourly_price }}€
                {{/hourly_price}}
                {{^hourly_price}}
                  {{ price }}€
                {{/hourly_price}}
              {{/weekly_price}}
            {{/daily_price}}
          </h3>
          <p>
            {{#daily_price}}
              / jour
            {{/daily_price}}
            {{^daily_price}}
              {{#weekly_price}}
                / semaine
              {{/weekly_price}}
              {{^weekly_price}}
                {{#hourly_price}}
                  / heure
                {{/hourly_price}}

              {{/weekly_price}}
            {{/daily_price}}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-11 padding-left-30">
          <ul class="list-unstyled list-inline">
            <li class="float-left">
              <a href="#" id="see-img">
                Voir photo
              </a>
            </li>
            <li class="float-right">
              <a href="#">
                <i class="fa fa-check"></i> Réserver
              </a>
            </li>
            <li class="float-right">
              <a href="#">
                <i class="fa fa-envelope"></i> Demande d'info
              </a>
            </li>
            <li class="float-right">
              <a href="#">
                <i class="fa fa-star"></i> Enregistrer
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </script>
  <!-- Hogan -->
  <script src="//cdn.jsdelivr.net/hogan.js/3.0.0/hogan.common.js"></script>
  <!-- Algolia -->
  <script src="//cdn.jsdelivr.net/algoliasearch/latest/algoliasearch.js"></script>
<% end %>