<%= content_for(:title) do %>
  Mes annonces - LH
<% end %>
<%= content_for(:description) do %>
  Visualisez vos annonces et décidez de celles que vous souhaitez publier ou masquer !
<% end %>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="panel panel-default white-bg margin-top-15 padding-none">
        <div class="panel-heading border-btm-none">
          <h4>Mes annonces</h4>
        </div>
        <div class="panel-body padding-none">
          <% if current_user.offers.size > 0 %>
            <% current_user.offers.sort_by(&:updated_at).reverse.each do |offer| %>
              <%= render "offer", offer: offer %>
            <% end %>
          <% else %>
            <div class="offer-stream-box border-top">
              <p>Vous n'avez pas encore publié d'annonce.</p>
              <p><%= link_to "Publier une annonce", new_offer_path %></p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= content_for :js do %>
  <% javascript_tag do %>
    $(document).ready(function() {
      adjustIconsSizeSimple(720);
      togglePaddingRightOnSm4();
      $(window).on('resize', function() {
        adjustIconsSizeSimple(720);
        togglePaddingRightOnSm4();
      })
      $('select').on('click', function(e) {
        e.preventDefault();
      })
      $('button').on('click', function(e) {
        e.preventDefault();
        $(this).parent().parent().submit();
      })
    })
  <% end %>
<% end %>