<%= content_for(:title) do %>
  <%= t('.title') %>
<% end %>
<%= content_for(:description) do %>
  <%= t('.description') %>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="panel panel-default white-bg margin-top-15 padding-none" id="mine">
        <div class="panel-heading border-btm-none">
          <h4><%= t('.my_offers') %></h4>
        </div>
        <% if current_user.offers.size > 0 %>
          <%= react_component "OfferList",
            render(template: 'offers/mine.json.jbuilder')
          %>
        <% else %>
          <div class="offer-stream-box border-top">
            <p><%= t('.no_offer') %></p>
            <p><%= link_to "Publier une annonce", new_offer_path %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= content_for :js do %>
  <% javascript_tag do %>
    mine()
  <% end %>
<% end %>