<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="white-bg frame padding-none">
        <!-- si l'offer est un service, la photo est celle du user -->
        <% if @offer.type_of_offer =="service" %>
          <% if @offer.user.picture_file_name %>
            <%= image_tag(@offer.user.picture.url(:medium), { class: "img img-thumbnail img-profile" }) %>
          <% else %>
            <%= image_tag "logo.png", class: "img-thumbnail bg-color" %>
          <% end %>
        <!-- sinon c'est la photo de l'annonce, obligatoire à la création -->
        <% else %>
          <% if @offer.picture_file_name %>
            <%= image_tag(@offer.picture.url(:medium), { class: "img img-thumbnail" }) %>
          <% else %>
            <%= image_tag("no-image.png", { class: "img img-thumbnail" }) %>
          <% end %>
        <% end %>
      </div>
      <div class="white-bg frame">
        <% if policy(@offer).update? %>
          <%= link_to "Modifier l'annonce", edit_offer_path(@offer), class: "btn btn-primary btn-wide" %>
          <% if @verif == 0 %>
            <br>
            <%= form_for @offer, method: :patch, url: offer_path(@offer)  do |f| %>
              <%= f.select :published, [["Publiée", true], ["Masquée", false]] %>
              <%= f.submit "Enregistrer" %>
            <% end %>
          <% else %>
            <br>
            <br>
            <%= link_to edit_user_path(current_user, anchor: "my-trust"), class: "btn btn-default btn-wide" do %>
              <%= pluralize(@verif, 'étape') %> pour publier
            <% end %>
          <% end %>
        <% else %>
          <% if current_user.conversation_with(@offer.user) %>
            <%= link_to conversation_path(current_user.conversation_with(@offer.user), anchor: "message-input"), class: "btn btn-default btn-wide" do %>
              Demande d'info
            <% end %>
          <% else %>
            <%= link_to new_offer_conversation_path(@offer), class: "btn btn-default btn-wide" do %>
              Demande d'info
            <% end %>
          <% end %>
          <br>
          <br>
          <%= link_to "Sauvegarder", "#", class: "btn btn-success btn-wide" %>
          <br>
          <br>
          <%= link_to "Réservation", new_offer_booking_path(@offer), class: "btn btn-primary btn-wide" %>
        <% end %>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="offer">
        <h1><%= @offer.nature %></h1>
        <p><%= @offer.user.street_name.capitalize %>, <%= @offer.user.zip_code %> (Pas encore de revues)</p>
        <p><%= @offer.description %></p>
      </div>
      <div class="prices">
        <h2>Tarifs</h2>
          <% if @offer.type_of_offer == "service" %>
            <% if @offer.hourly_price %>
              <p><%= @offer.hourly_price %>€/ heure</p>
            <% end %>
          <% elsif @offer.type_of_offer == "rent" %>
            <% if @offer.daily_price %>
              <p><%= @offer.daily_price %>€/ jour</p>
            <% end %>
            <% if @offer.weekly_price %>
              <p><%= @offer.weekly_price %>€/ semaine</p>
            <% end %>
          <% else %>
            <% if @offer.price %>
              <p><%= @offer.price %>€</p>
            <% end %>
          <% end %>
      </div>
      <div class="reviews">
        <h2>Commentaires</h2>
          <p>(Pas encore de revues)</p>
      </div>
    </div>
  </div>
</div>