<%= content_for(:title) do %>
  <%= @offer.nature %> - LH
<% end %>
<%= content_for(:description) do %>
  Parcourez les annonces des biens et services disponibles à moins de 10 min à pied de chez vous !
<% end %>
<%= content_for :stylesheets do %>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" />
<% end %>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default margin-top-20 max-width-300 padding-none border-none transparent-bg">
        <div class="panel-body padding-none border-none transparent-bg">
          <!-- si l'offer est un service, la photo est celle du user -->
          <% if @offer.type_of_offer =="service" %>
            <% if @offer.user.picture_file_name %>
              <%= image_tag(@offer.user.picture.url(:medium), { class: "img img-lovely" }) %>
            <% else %>
              <%= image_tag "user_pic-225x225.png", class: "img img-lovely" %>
            <% end %>
          <!-- sinon c'est la photo de l'annonce, obligatoire à la création -->
          <% else %>
            <% if @offer.picture_file_name %>
              <%= link_to @offer.picture.url(:large), class: "fancybox", id: "single-image", "rel" => "group" do %>
                <%= image_tag(@offer.picture.url(:medium), { class: "img img-lovely" }) %>
              <% end %>
            <% else %>
              <%= image_tag("no-image.png", { class: "img img-lovely white-bg" }) %>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="panel panel-default max-width-300 padding-none">
        <div class="panel-body border-none">
          <% if policy(@offer).update? %>
            <%= link_to "Modifier l'annonce", edit_offer_path(@offer), class: "btn btn-primary btn-wide margin-btm-15" %>
            <% if current_user.authorized.nil? %>
            <% elsif current_user.verif == 0 %>
              <%= form_for @offer, remote: true, method: :patch, url: offer_path(@offer)  do |f| %>
              <div class="row">
                <div class="col-xs-9 padding-right-10">
                  <%= f.select :published, [["Masquée", false], ["Publiée", true]], {}, { class: "form-control height-40" } %>
                </div>
                <div class="col-xs-3 padding-left-none">
                  <%= button_tag(type: 'submit', class: "btn btn-success btn-wide") do %>
                    <i class="fa fa-save"></i>
                  <% end %>
                </div>
                <div class="col-xs-12 hidden margin-top-10" id="<%= "append-target_#{@offer.id}" %>"></div>
              </div>
              <% end %>
            <% else %>
              <%= link_to edit_user_path(current_user, anchor: "my-trust"), class: "btn btn-default btn-wide" do %>
                <%= pluralize(current_user.verif, 'étape') %> pour publier
              <% end %>
            <% end %>
          <% else %>
            <% if current_user.find_voted_items.include? @offer %>
              <%= link_to unwish_offer_path(@offer), class: "btn btn-success btn-wide btn-left", method: :put do %>
                <i class="fa fa-star"></i>&nbsp;&nbsp;&nbsp;&nbsp;Délister
              <% end %>
            <% else %>
              <%= link_to wish_offer_path(@offer), class: "btn btn-success btn-wide btn-left", method: :put do %>
                <i class="fa fa-star"></i>&nbsp;&nbsp;&nbsp;&nbsp;Enregistrer
              <% end %>
            <% end %>
            <br>
            <br>
            <%= link_to new_offer_conversation_path(@offer), class: "btn btn-default btn-wide btn-left" do %>
              <i class="fa fa-envelope"></i>&nbsp;&nbsp;&nbsp;&nbsp;Demande d'info
            <% end %>
            <br>
            <br>
            <%= link_to new_offer_booking_path(@offer), class: "btn btn-primary btn-wide btn-left" do %>
              <i class="fa fa-check"></i>&nbsp;&nbsp;&nbsp;&nbsp;Réserver
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="offer">
        <h1><%= @offer.nature %></h1>
        <p>
          <%= @offer.user.zip_code %>
          &nbsp;&nbsp;&nbsp;
          <% if @offer.cto_reviews.size.to_i >= 1 %>
            <%= link_to("#comments", {class: "link-unstyled"}) do %>
              <% @offer.average_score.round.times do %>
                <i class="fa fa-star small-star-gold"></i>
              <% end %>
              <% (5 - @offer.average_score.round).times do %>
                <i class="fa fa-star small-star"></i>
              <% end %>
              (<%= pluralize(@offer.cto_reviews.size.to_i, "commentaire") %>)
            <% end %>
          <% else %>
            (Pas encore de commentaire)
          <% end %>
        </p>
        <p><%= @offer.description %></p>
      </div>
      <div class="prices">
        <h2>Tarifs</h2>
        <% if @offer.type_of_offer == "service" %>
          <% if @offer.hourly_price %>
            <p><%= @offer.hourly_price %>€/ heure</p>
          <% end %>
        <% elsif @offer.type_of_offer == "rent" %>
          <% if @offer.daily_price %>
            <p><%= @offer.daily_price %>€/ jour</p>
          <% end %>
          <% if @offer.weekly_price %>
            <p><%= @offer.weekly_price %>€/ semaine</p>
          <% end %>
          <% if @offer.guarantee %>
            <p>Caution : <%= @offer.guarantee %>€</p>
          <% end %>
        <% else %>
          <% if @offer.price %>
            <p><%= @offer.price %>€</p>
          <% end %>
        <% end %>
      </div>
      <div class="reviews" id="comments">
        <% if @offer.cto_reviews.size >= 1 %>
          <div class="row">
            <div class="col-lg-3 col-xs-6">
              <h4><strong><%= pluralize(@offer.cto_reviews.size.to_i, "commentaire")%></strong></h4>
            </div>
            <div class="col-lg-3 col-xs-6 text-right">
              <h4 class="gray-light ">
                <% @offer.average_score.round.times do %>
                  <i class="fa fa-star rating-star-highlight"></i>
                <% end %>
                <% (5 - @offer.average_score.round).times do %>
                  <i class="fa fa-star rating-star"></i>
                <% end %>
                (<%= @offer.average_score.round(1) %>)
              </h4>
            </div>
            <div class="col-lg-6 hidden-xs">
            </div>
          </div>

          <div class="ratings">
            <div class="row">
              <div class="col-lg-3 col-xs-6">
                <p>Communication : </p>
                <p>Ponctualité : </p>
                <p>Qualité/ prix : </p>
              </div>
              <div class="col-lg-3 col-xs-6 text-right">
                <p class="gray-light">
                  <% @offer.communication_score.round.times do %>
                    <i class="fa fa-star small-star-gold"></i>
                  <% end %>
                  <% (5 - @offer.communication_score.round).times do %>
                    <i class="fa fa-star small-star"></i>
                  <% end %>
                  (<%= @offer.communication_score.round(1) %>)
                </p>
                <p class="gray-light">
                  <% @offer.punctuality_score.round.times do %>
                    <i class="fa fa-star small-star-gold"></i>
                  <% end %>
                  <% (5 - @offer.punctuality_score.round).times do %>
                    <i class="fa fa-star small-star"></i>
                  <% end %>
                  (<%= @offer.punctuality_score.round(1) %>)
                </p>
                <p class="gray-light">
                  <% @offer.quality_price_score.round.times do %>
                    <i class="fa fa-star small-star-gold"></i>
                  <% end %>
                  <% (5 - @offer.quality_price_score.round).times do %>
                    <i class="fa fa-star small-star"></i>
                  <% end %>
                  (<%= @offer.quality_price_score.round(1) %>)
                </p>
              </div>
              <div class="col-lg-6 hidden-xs">
              </div>
            </div>
          </div>
          <% @offer.cto_reviews.each do |review| %>
            <%= render "shared/review", { offer: @offer, booking: review.booking, review: review } %>
          <% end %>
        <% else %>
          <h2>Commentaires</h2>
          <p>Pas encore de commentaire rédigé à propos de cette annonce</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= content_for(:js) do %>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
  <%= javascript_tag do %>
    $(document).ready(function() {
      $(".fancybox").fancybox();
    });
  <% end %>
<% end %>
