<%= content_for(:title) do %>
  <%= @offer.nature %> - LH
<% end %>
<%= content_for(:description) do %>
  Parcourez les annonces des biens et services disponibles à moins de 10 min à pied de chez vous !
<% end %>
<%= content_for :stylesheets do %>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" />
<% end %>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default margin-top-20 max-width-300 padding-none border-none transparent-bg">
        <div class="panel-body padding-none border-none transparent-bg">
          <!-- si l'offer est un service, la photo est celle du user -->
          <% if @offer.type_of_offer =="service" %>
            <% if @offer.picture_file_name %>
              <%= image_tag(@offer.picture.url(:medium), { class: "img img-lovely" }) %>
            <% elsif @offer.user.picture_file_name %>
              <%= image_tag(@offer.user.picture.url(:medium), { class: "img img-lovely" }) %>
            <% else %>
              <%= image_tag "user_pic-225x225.png", class: "img img-lovely" %>
            <% end %>
          <!-- sinon c'est la photo de l'annonce, obligatoire à la création -->
          <% else %>
            <% if @offer.picture_file_name %>
              <%= link_to @offer.picture.url(:original), class: "fancybox", id: "single-image", "rel" => "group" do %>
                <%= image_tag(@offer.picture.url(:medium), { class: "img img-lovely" }) %>
              <% end %>
            <% else %>
              <%= image_tag("no-image.png", { class: "img img-lovely white-bg" }) %>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="panel panel-default max-width-300 padding-none">
        <div class="panel-body border-none">
          <% if @offer.type_of_offer == "service" %>
            <% if @offer.hourly_price %>
              <ul class="list-unstyled list-inline margin-btm-none">
                <li><h3 class="margin-none"><%= @offer.hourly_price %>€</h3></li><li class="pull-right padding-top-5">Par heure</li>
              </ul>
            <% end %>
          <% elsif @offer.type_of_offer == "rent" %>
            <% if @offer.daily_price %>
              <ul class="list-unstyled list-inline">
                <li><h3 class="margin-none"><%= @offer.daily_price %>€</h3></li><li class="pull-right padding-top-5">Par jour</li>
              </ul>
            <% end %>
            <% if @offer.weekly_price %>
              <ul class="list-unstyled list-inline">
                <li><h3 class="margin-none"><%= @offer.weekly_price %>€</h3></li><li class="pull-right padding-top-5">Par semaine</li>
              </ul>
            <% end %>
            <ul class="list-unstyled list-inline padding-top-10 border-top margin-btm-none">
              <li><%= @offer.guarantee ? @offer.guarantee.to_s + "€" : "0€" %></li><li class="pull-right">Caution</li>
            </ul>
          <% else %>
            <% if @offer.price %>
              <ul class="list-unstyled list-inline margin-btm-none">
                <li><h3 class="margin-none"><%= @offer.price %>€</h3></li><li class="pull-right padding-top-5">(achat seul)</li>
              </ul>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="panel panel-default max-width-300 padding-none">
        <div class="panel-body border-none">
          <% if current_user.admin? %>
            <%= render "owner_actions" %>
            <br>
            <%= render "client_actions" %>
          <% elsif policy(@offer).update? %>
            <%= render "owner_actions" %>
          <% else %>
            <%= render "client_actions" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="offer">
        <h1><%= @offer.nature %></h1>
        <p>
          <%= @offer.user.zip_code %>
          &nbsp;&nbsp;&nbsp;
          <% if @offer.cto_reviews.size.to_i >= 1 %>
            <%= link_to("#comments", {class: "link-unstyled"}) do %>
              <% @offer.average_score.round.times do %>
                <i class="fa fa-star small-star-gold"></i>
              <% end %>
              <% (5 - @offer.average_score.round).times do %>
                <i class="fa fa-star small-star"></i>
              <% end %>
              (<%= pluralize(@offer.cto_reviews.size.to_i, "commentaire") %>)
            <% end %>
          <% else %>
            (Pas encore de commentaire)
          <% end %>
        </p>
        <p><%= simple_format(@offer.description, {}, sanitize: false) %></p>
      </div>
      <div class="reviews" id="comments">
        <% if @offer.cto_reviews.size >= 1 %>
          <div class="row">
            <div class="col-lg-3 col-xs-6">
              <h4><strong><%= pluralize(@offer.cto_reviews.size.to_i, "commentaire")%></strong></h4>
            </div>
            <div class="col-lg-3 col-xs-6 text-right">
              <h4 class="gray-light ">
                <% @offer.average_score.round.times do %>
                  <i class="fa fa-star rating-star-highlight"></i>
                <% end %>
                <% (5 - @offer.average_score.round).times do %>
                  <i class="fa fa-star rating-star"></i>
                <% end %>
                (<%= @offer.average_score.round(1) %>)
              </h4>
            </div>
            <div class="col-lg-6 hidden-xs">
            </div>
          </div>

          <div class="ratings">
            <div class="row">
              <div class="col-lg-3 col-xs-6">
                <p>Communication : </p>
                <p>Ponctualité : </p>
                <p>Qualité/ prix : </p>
              </div>
              <div class="col-lg-3 col-xs-6 text-right">
                <p class="gray-light">
                  <% @offer.communication_score.round.times do %>
                    <i class="fa fa-star small-star-gold"></i>
                  <% end %>
                  <% (5 - @offer.communication_score.round).times do %>
                    <i class="fa fa-star small-star"></i>
                  <% end %>
                  (<%= @offer.communication_score.round(1) %>)
                </p>
                <p class="gray-light">
                  <% @offer.punctuality_score.round.times do %>
                    <i class="fa fa-star small-star-gold"></i>
                  <% end %>
                  <% (5 - @offer.punctuality_score.round).times do %>
                    <i class="fa fa-star small-star"></i>
                  <% end %>
                  (<%= @offer.punctuality_score.round(1) %>)
                </p>
                <p class="gray-light">
                  <% @offer.quality_price_score.round.times do %>
                    <i class="fa fa-star small-star-gold"></i>
                  <% end %>
                  <% (5 - @offer.quality_price_score.round).times do %>
                    <i class="fa fa-star small-star"></i>
                  <% end %>
                  (<%= @offer.quality_price_score.round(1) %>)
                </p>
              </div>
              <div class="col-lg-6 hidden-xs">
              </div>
            </div>
          </div>
          <% @offer.cto_reviews.each do |review| %>
            <%= render "shared/review", { offer: @offer, booking: review.booking, review: review } %>
          <% end %>
        <% else %>
          <h2>Commentaires</h2>
          <p>Pas encore de commentaire rédigé à propos de cette annonce</p>
        <% end %>
      </div>
      <% unless current_user == @offer.user || @offer.type_of_offer == "service" %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Itinéraire</h4>
          </div>
          <div class="panel-body padding-none">
            <div id="map" style="float:left;width:70%; height:300px"></div>
            <div id="directionsPanel" style="float:right;width:30%;height:300px;padding:0 10px 10px 10px;overflow:scroll"></div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= content_for(:js) do %>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
  <%= javascript_tag do %>
    $(document).ready(function() {
      $(".fancybox").fancybox();
      var lat = <%= current_user.latitude %>
      var lng = <%= current_user.longitude %>
      var userLocation = new google.maps.LatLng(lat, lng);
      initializeDirections(userLocation);
      calcRoute(userLocation, '<%= @offer.user.address %>')
    });
  <% end %>
<% end %>
