<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="panel panel-default margin-20-30 padding-none border-none transparent-bg">
        <div class="panel-body padding-none border-none transparent-bg">
          <!-- si l'offer est un service, la photo est celle du user -->
          <% if @offer.type_of_offer =="service" %>
            <% if @offer.user.picture_file_name %>
              <%= image_tag(@offer.user.picture.url(:medium), { class: "img-thumbnail" }) %>
            <% else %>
              <%= image_tag "user_pic-225x225.png", class: "img-thumbnail transparent-bg" %>
            <% end %>
          <!-- sinon c'est la photo de l'annonce, obligatoire à la création -->
          <% else %>
            <% if @offer.picture_file_name %>
              <%= image_tag(@offer.picture.url(:medium), { class: "img-thumbnail" }) %>
            <% else %>
              <%= image_tag("no-image.png", { class: "img-thumbnail white-bg" }) %>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="panel panel-default margin-20-30 padding-none">
        <div class="panel-body border-none">
          <% if policy(@offer).update? %>
            <%= link_to "Modifier l'annonce", edit_offer_path(@offer), class: "btn btn-primary btn-wide" %>
            <% if current_user.verif == 0 %>
              <br>
              <br>
              <%= form_for @offer, method: :patch, url: offer_path(@offer)  do |f| %>
              <div class="row">
                <div class="col-xs-8 padding-right-10">
                  <%= f.select :published, [["Masquée", false], ["Publiée", true]], {}, { class: "form-control" } %>
                </div>
                <div class="col-xs-3 padding-none">
                  <%= button_tag(type: 'submit', class: "btn btn-success btn-wide") do %>
                    <i class="fa fa-save"></i>
                  <% end %>
                </div>
              </div>
              <% end %>
            <% else %>
              <br>
              <br>
              <%= link_to edit_user_path(current_user, anchor: "my-trust"), class: "btn btn-default btn-wide" do %>
                <%= pluralize(current_user.verif, 'étape') %> pour publier
              <% end %>
            <% end %>
          <% else %>
            <% if current_user.find_voted_items.include? @offer %>
              <%= link_to unwish_offer_path(@offer), class: "btn btn-success btn-wide", method: :put do %>
                <i class="fa fa-star"></i> Retirer de ma liste
              <% end %>
            <% else %>
              <%= link_to wish_offer_path(@offer), class: "btn btn-success btn-wide", method: :put do %>
                <i class="fa fa-star"></i> Enregistrer
              <% end %>
            <% end %>
            <br>
            <br>
            <%= link_to new_offer_conversation_path(@offer), class: "btn btn-default btn-wide" do %>
              <i class="fa fa-envelope"></i> Demande d'info
            <% end %>
            <br>
            <br>
            <%= link_to new_offer_booking_path(@offer), class: "btn btn-primary btn-wide" do %>
              <i class="fa fa-check"></i> Réserver
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="offer">
        <h1><%= @offer.nature %></h1>
        <p>
          <%= @offer.user.street_name.capitalize %>, <%= @offer.user.zip_code %>
          &nbsp;&nbsp;&nbsp;
          <% if @offer.cto_reviews.size.to_i >= 1 %>
            <%= link_to("#comments", {class: "link-unstyled"}) do %>
              <% @offer.average_score.round.times do %>
                <i class="fa fa-star small-star-gold"></i>
              <% end %>
              <% (5 - @offer.average_score.round).times do %>
                <i class="fa fa-star small-star"></i>
              <% end %>
              (<%= pluralize(@offer.cto_reviews.size.to_i, "commentaire") %>)
            <% end %>
          <% else %>
            (Pas encore de commentaire)
          <% end %>
        </p>
        <p><%= @offer.description %></p>
      </div>
      <div class="prices">
        <h2>Tarifs</h2>
          <% if @offer.type_of_offer == "service" %>
            <% if @offer.hourly_price %>
              <p><%= @offer.hourly_price %>€/ heure</p>
            <% end %>
          <% elsif @offer.type_of_offer == "rent" %>
            <% if @offer.daily_price %>
              <p><%= @offer.daily_price %>€/ jour</p>
            <% end %>
            <% if @offer.weekly_price %>
              <p><%= @offer.weekly_price %>€/ semaine</p>
            <% end %>
            <% if @offer.guarantee %>
              <p>Caution : <%= @offer.guarantee %>€</p>
            <% end %>
          <% else %>
            <% if @offer.price %>
              <p><%= @offer.price %>€</p>
            <% end %>
          <% end %>
      </div>
      <div class="reviews" id="comments">
        <% if @offer.cto_reviews.size >= 1 %>
          <div class="row">
            <div class="col-xs-3">
              <h4><strong><%= pluralize(@offer.cto_reviews.size.to_i, "commentaire")%></strong></h4>
            </div>
            <div class="col-xs-3 text-right">
              <h4 class="gray-light ">
                <% @offer.average_score.round.times do %>
                  <i class="fa fa-star rating-star-highlight"></i>
                <% end %>
                <% (5 - @offer.average_score.round).times do %>
                  <i class="fa fa-star rating-star"></i>
                <% end %>
                (<%= @offer.average_score.round(1) %>)
              </h4>
            </div>
            <div class="col-xs-6">
            </div>
          </div>

          <div class="ratings">
            <div class="row">
              <div class="col-xs-3">
                <p>Communication : </p>
                <p>Ponctualité : </p>
                <p>Qualité/ prix : </p>
              </div>
              <div class="col-xs-3 text-right">
                <p class="gray-light">
                  <% @offer.communication_score.round.times do %>
                    <i class="fa fa-star small-star-gold"></i>
                  <% end %>
                  <% (5 - @offer.communication_score.round).times do %>
                    <i class="fa fa-star small-star"></i>
                  <% end %>
                  (<%= @offer.communication_score.round(1) %>)
                </p>
                <p class="gray-light">
                  <% @offer.punctuality_score.round.times do %>
                    <i class="fa fa-star small-star-gold"></i>
                  <% end %>
                  <% (5 - @offer.punctuality_score.round).times do %>
                    <i class="fa fa-star small-star"></i>
                  <% end %>
                  (<%= @offer.punctuality_score.round(1) %>)
                </p>
                <p class="gray-light">
                  <% @offer.quality_price_score.round.times do %>
                    <i class="fa fa-star small-star-gold"></i>
                  <% end %>
                  <% (5 - @offer.quality_price_score.round).times do %>
                    <i class="fa fa-star small-star"></i>
                  <% end %>
                  (<%= @offer.quality_price_score.round(1) %>)
                </p>
              </div>
              <div class="col-xs-6">
              </div>
            </div>
          </div>
          <% @offer.cto_reviews.each do |review| %>
            <%= render "shared/review", { offer: @offer, booking: review.booking, review: review } %>
          <% end %>
        <% else %>
          <h2>Commentaires</h2>
          <p>Pas encore de commentaire rédigé à propos de cette annonce</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% content_for(:js) do %>
  <% javascript_tag do %>
    $(document).ready(function() {
      $('.offer-link').addClass('hidden');
    });
  <% end %>
<% end %>
