<%= content_for :stylesheets do %>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" />
<% end %>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default white-bg margin-top-15 padding-none">
        <div class="panel-heading border-btm-none">
          <h4>Ma wish list</h4>
        </div>
        <div class="panel-body padding-none">
          <% if @offers.size > 0 %>
            <% @offers.sort_by(&:updated_at).reverse.each do |offer| %>
              <%= render "wishlisted_offer", offer: offer %>
            <% end %>
          <% else %>
            <div class="offer-stream-box border-top">
              <p>Vous n'avez pas d'annonce dans votre wish list.</p>
              <p><%= link_to "Voir les annonces", offers_path %></p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= content_for :js do %>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
  <%= javascript_tag do %>
    $(document).ready(function() {
      $(".fancybox").fancybox();
      $('.offer-stream-box .neutralize').on('click', function(e) {
        showOrHidePicture(6, $(this));
      });

      $('.offer-stream-box').on('click', function(e) {
        showOrHidePicture(6, $(this));
      });
      adjustIconsSizeSimple();
      $(window).on('resize', function() {
        adjustIconsSizeSimple();
      })
    })
  <% end %>
<% end %>