<div class="panel-footer padding-top-10 border-top-none padding-btm-none comments-bg-color" id="likes_<%= post.class == Post ? post.id : 'activity_' + post.id.to_s %>">
  <div class="row">
    <div class="col-xs-12">
      <div class="font-size-12 padding-btm-10 border-btm-grey" id="like_infos_post_<%= post.id %>">
        <% if post.get_likes.size == 1 %>
          <%= link_to post.get_likes.first.voter.first_name, user_path(post.get_likes.first.voter), class: "like-link" %> <%= t('.likes_this') %>
        <% else %>
          <%= liker_list_string = "" %>
          <% liker_list = post.get_likes[1..-1].each { |liker| liker_list_string += ("<li>" + liker.voter.first_name + "</li>")} %>

          <%= link_to post.get_likes.first.voter.first_name, user_path(post.get_likes.first.voter), class: "like-link" %> <%= t('.and') %> <%= link_to "#{pluralize(post.get_likes.size - 1, t('.people'))}",
            "",
            class: "like-link link-popover",
            data: {
              container: "#posts-stream",
              content: "<ul class='list-unstyled'>#{liker_list_string}</ul>"
            } %> <%= t('.like_this') %>
        <% end %>
      </div>
    </div>
  </div>
</div>