<div class="panel panel-default white-bg margin-top-15 padding-none">
  <div class="panel-body padding-none border-btm">
    <div class="stick-down-target white-bg col-xs-12" id="post_<%= post.id %>">
      <div class="message-content margin-top-15">
        <div class="col-xs-3 img-small-square padding-none margin-left-none margin-btm-15">
          <% if post.user.picture_file_name %>
            <%= image_tag(post.user.picture.url(:medium), { class: "img" }) %>
          <% else %>
            <%= image_tag "user_pic-60.png", class: "img logo-small bg-color" %>
          <% end %>
        </div>
        <div class="col-xs-9 padding-left-10 margin-btm-15">
          <ul class="margin-none list-unstyled list-inline">
            <li class="padding-left-none">
              <%= link_to post.user.first_name, user_path(post.user), class: "offer-nature-link" %></li>
            <li class="padding-left-none gray-lighter font-size-12">
              <%= (((Time.now - post.created_at < 86400) && Date.today.day == post.created_at.day) ? "" : (Time.now - post.created_at < 86400 ? "Yesterday," : post.created_at.strftime("%A, %e %B "))) + post.created_at.strftime("%l:%M %p") %>
            </li>
          </ul>
          <%= simple_format post.content, class: "margin-btm-none" %>
        </div>
      </div>
    </div>
  </div>
  <div id="comments-stream-post-<%= post.id %>">
    <% post.comments.each do |comment| %>
      <%= render 'comment', comment: comment %>
    <% end %>
  </div>
  <div class="panel-footer padding-top-15 padding-btm-15 border-top-none" id="panel-footer-posts">
    <%= form_for [post, Comment.new], method: :put, url: post_path(post), remote: true, autocomplete: "off" do |f| %>
      <div class="row">
        <div class="col-xs-12">
          <div class="col-xs-2 img-mini-square padding-none margin-left-none">
            <% if current_user.picture_file_name %>
              <%= image_tag(current_user.picture.url(:medium), { class: "img" }) %>
            <% else %>
              <%= image_tag "user_pic-60.png", class: "img logo-small bg-color" %>
            <% end %>
          </div>
          <div class="col-xs-10 padding-left-10 padding-right-none width-92 js-target">
            <div class="form-group margin-btm-none total-width">
              <%= f.text_field :content, autocomplete: "off", placeholder: "Votre commentaire...", class: "form-control height-32 font-size-12" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>