<%= content_for(:title) do %>
  <%= t('.title') %>
<% end %>
<%= content_for(:description) do %>
  <%= t('.description') %>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
      <div class="panel panel-default white-bg margin-top-15 padding-none">
        <%= form_for @post, html: { multipart: true }, method: :post, url: posts_path, remote: true, authenticity_token: true do |f| %>
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-12">
                <div class="col-xs-2 img-small-square padding-none margin-left-none">
                  <% if current_user.picture_file_name %>
                    <%= image_tag(current_user.picture.url(:medium), { class: "img" }) %>
                  <% else %>
                    <%= image_tag "user_pic-60.png", class: "img logo-small bg-color" %>
                  <% end %>
                </div>
                <div class="col-xs-10 padding-left-10 js-other-target">
                  <div class="form-group margin-btm-none">
                    <%= f.text_area :content, placeholder: t('.placeholder'), style: "resize: none", class: "form-control height-42 padding-top-none padding-left-none border-none box-in-post" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-footer" id="panel-footer-posts">
            <%= f.file_field :picture, class: "hidden" %>
            <ul class="list-unstyled list-inline margin-btm-none">
              <li id="camera"><i class="fa fa-camera"></i></li>
              <li class="pic-path" id="placeholder"></li>
              <li class="pic-path hidden" id="check"><i class="fa fa-check"></i></li>
              <li class="pull-right"><%= f.submit t('.post'), class: "btn btn-post pull-right" %></li>
            </ul>
          </div>
        <% end %>
      </div>
      <div id="posts-stream">
        <% @items.each do |item| %>
          <% if item.class == Post %>
            <%= render "post", post: item %>
          <% else %>
            <% unless item.trackable_type == "Offer" && item.trackable.published == false %>
              <%= render "activity", activity: item if (item.owner && item.trackable) %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="row">
        <div class="col-xs-12 text-center">
          <%= paginate @items %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= content_for :js do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      imageUpload()
      $('#wall-nav-link').addClass('hover');
      comment();
      adjustIconsSizeSimple(420);
      likePopover()
      resizeStuff()
      $(window).on('scroll', function() {
        var more_posts_url = $('.next a').attr('href')
        if(more_posts_url && $(window).scrollTop() > $(document).height() - $(window).height() - 60) {
          $('.pagination').html('<img src="<%= asset_url('facebook.gif') %>" alt="Loading..." title="Loading..." />')
          $.ajax({
            type: 'GET',
            url: more_posts_url,
            dataType: 'script',
            success: function() {
              comment();
              adjustIconsSizeSimple(420);
              likePopover()
              resizeStuff()
            }
          })
        }
        return false
      })
    })
  <% end %>
<% end %>