<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="header-box">
        <div class="frame-header">
          <h2 class="margin-none">Votre revue de : <%= @booking.offer.nature %></h2>
        </div>
      </div>
      <div class="body-box">
        <div class="form-horizontal white-bg frame-body">
          <%= form_for([@booking, @review], url: booking_review_path(@booking, @review)) do |f| %>
            <div class="form-group">
              <%= f.label :comment, "Commentaire :", class: "col-sm-3 control-label" %>
              <div class="col-sm-9">
                <%= f.text_area :comment, placeholder: "Décrivez votre expérience, les points positifs, les points négatifs...", class: "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :communication_rating, "Communication :", class: "col-sm-3 control-label" %>
              <div class="col-sm-9">
                <%= f.hidden_field :communication_rating %>
                <ul class="communication_rating list-unstyle list-inline">
                  <% (1..5).each do |i| %>
                    <li class="rating-star" id=<%= "communication_rating_#{i}" %>><i class="fa fa-star"></i></li>
                  <% end %>
                </ul>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :punctuality_rating, "Ponctualité :", class: "col-sm-3 control-label" %>
              <div class="col-sm-9">
                <%= f.hidden_field :punctuality_rating %>
                <ul class="punctuality_rating list-unstyle list-inline">
                  <% (1..5).each do |i| %>
                    <li class="rating-star" id=<%= "punctuality_rating_#{i}" %>><i class="fa fa-star"></i></li>
                  <% end %>
                </ul>
              </div>
            </div>

            <div class="form-group margin-btm-none">
              <div class="col-sm-3">
              </div>
              <div class="col-sm-9">
                <%= f.submit "Continuer", class: "btn btn-primary" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for(:js) do %>
  <% javascript_tag do %>
    $(document).ready(function() {
      $('.rating-star').on({
        click: function(e) {
          highlightStars($(this));
        }
      });
    });
  <% end %>
<% end %>
