<%= content_for(:title) do %>
  <%= t('.title') %>
<% end %>
<%= content_for(:description) do %>
  <%= t('.description') %>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="panel panel-default margin-top-15 padding-none">
        <div class="panel-heading">
          <div class="row">
            <div class="col-sm-3 text-right">
              <h4><%= t('.comment') %></h4>
            </div>
            <div class="col-sm-9 text-left">
              <h4>
                <%= @booking.offer.i18n_nature(params[:locale]) %>
                <% if current_user == @booking.user %>
                   (<%= @booking.offer.user.first_name %>)
                <% else %>
                   (<%= @booking.user.first_name %>)
                <% end %>
              </h4>
            </div>
          </div>
        </div>
        <div class="panel-body form-horizontal">
          <%= form_for([@booking, @review], url: booking_review_path(@booking, @review)) do |f| %>
            <div class="form-group">
              <%= f.label :comment, t('.comment'), class: "col-sm-3 control-label" %>
              <div class="col-sm-9">
                <%= f.text_area :comment, placeholder: t('.placeholder'), rows: 5, class: "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :communication_rating, t('.communication'), class: "col-sm-3 control-label" %>
              <div class="col-sm-9">
                <%= f.hidden_field :communication_rating, id: "communication" %>
                <ul class="communication_rating list-unstyle list-inline">
                  <% (1..5).each do |i| %>
                    <li class="rating-star" data-stars="<%= i %>" data-nature="communication" id="<%= "communication_#{i}" %>"><i class="fa fa-star"></i></li>
                  <% end %>
                </ul>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :punctuality_rating, t('.punctuality'), class: "col-sm-3 control-label" %>
              <div class="col-sm-9">
                <%= f.hidden_field :punctuality_rating, id: "punctuality" %>
                <ul class="punctuality_rating list-unstyle list-inline">
                  <% (1..5).each do |i| %>
                    <li class="rating-star" data-stars="<%= i %>" data-nature="punctuality" id="<%= "punctuality_#{i}" %>"><i class="fa fa-star"></i></li>
                  <% end %>
                </ul>
              </div>
            </div>

            <% if @booking.user == current_user %>
              <%= render "quality", f: f %>
            <% else %>
              <% if @booking.offer.type_of_offer == "rent" %>
                <%= render "respect", f: f %>
              <% end %>
            <% end %>

            <div class="form-group">
              <%= f.label :recommendation, t('.recommendation'), class: "col-sm-3 control-label" %>
              <div class="col-sm-9">
                <%= f.hidden_field :recommendation, id: "recommendation" %>
                <ul class="recommendation list-unstyle list-inline">
                  <li class="recommendation-thumbs" id="thumbs-up"><i class="fa fa-thumbs-up"></i></li>
                  <li class="recommendation-thumbs" id="thumbs-down"><i class="fa fa-thumbs-down"></i></li>
                </ul>
              </div>
            </div>

            <div class="form-group margin-btm-none">
              <div class="col-sm-3">
              </div>
              <div class="col-sm-9">
                <%= f.submit t('.send'), class: "btn btn-primary" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<% content_for(:js) do %>
  <% javascript_tag do %>
    $(document).ready(function() {
      highlightAll();
      highlightStars();
      highlightThumbs();
    });
  <% end %>
<% end %>
