<nav class="navbar navbar-default navbar-fixed-top navbar-wagon" role="navigation">
  <div class="container-fluid padding-left-none">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header padding-top-7 horizontal-spacer">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <%= link_to root_path, id: "brand" do %>
          lovely hood
        <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <% if user_signed_in? %>
        <ul class="nav navbar-nav navbar-right" style="margin-right: -15px;">
          <li class="disappear middle-weight">
            <%= link_to offers_path, class: "nav-btn-default", id: "offers-nav-link" do %>
              <i class="fa fa-home"></i> Annonces
            <% end %>
          </li>
          <li class="disappear middle-weight">
            <%= link_to posts_path, class: "nav-btn-default", id: "offers-nav-link" do %>
              <i class="fa fa-users"></i> Wall
            <% end %>
          </li>
          <li class="disappear middle-weight">
            <% if current_user.conversations.size > 0 %>
              <%= link_to (conversation_path(current_user.conversations.sort_by { |c| c.messages.last.updated_at }.last, anchor: "message-input")), class: "nav-btn-default", id: "messages-nav-link" do %>
                <i class="fa fa-envelope"></i> Messages
                <% if current_user.unread_conversations > 0 %>
                  <span class="badge">
                    <%= current_user.unread_conversations %>
                  </span>
                <% end %>
              <% end %>
            <% else %>
            <% end %>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              <div class="img-navbar col-xs-2 padding-none">
                <% if current_user.picture_file_name %>
                  <%= image_tag(current_user.picture.url(:medium), { class: "img" }) %>
                <% else %>
                  <%= image_tag "user_pic-225x225.png", class: "img-logo-small" %>
                <% end %>
              </div>
              <%= current_user.first_name %><span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <% if current_user.passed_bookings_to_review[:owner].size >= 1 || current_user.passed_bookings_to_review[:client].select { |booking| booking.owner_validation }.size >= 1 || current_user.upcoming_bookings[:owner].select { |booking| booking.accepted.nil? }.size >= 1 %>
                <li style="background-color: rgb(250,250,250);">
                  <%= link_to user_path(current_user), style: "white-space: inherit ! important;" do %>
                    <strong>Mon profil</strong>
                    <span class="badge small-badge pull-right margin-top-5">
                    </span>
                  <% end %>
                  </li>
              <% else %>
                <li>
                  <%= link_to user_path(current_user) do %>
                    Mon profil
                  <% end %>
                </li>
              <% end %>
              <% if current_user.verif > 0 %>
                <li style="background-color: rgb(250,250,250);">
                  <%= link_to edit_user_path(current_user), style: "white-space: inherit ! important;" do %>
                    <strong>Mon compte</strong>
                    <span class="badge small-badge pull-right margin-top-5">
                    </span>
                  <% end %>
                </li>
              <% else %>
                <li><%= link_to "Mon compte", edit_user_path(current_user) %></li>
              <% end %>
              <li class="appear"><%= link_to "Annonces of ze Hood", offers_path %></li>
              <li class="appear"><%= link_to "Wall of ze Hood", posts_path %></li>
              <li><%= link_to "Mes voisins", users_path %></li>
              <li><%= link_to "Mes annonces", mine_path %></li>
              <li><%= link_to "Ma wish list", wishlist_path %></li>
              <% if current_user.conversations.size > 0 %>
                <% if current_user.unread_conversations > 0 %>
                  <li class="appear" style="background-color: rgb(250,250,250);">
                    <%= link_to (conversation_path(current_user.conversations.sort_by { |c| c.messages.last.updated_at }.last, anchor: "message-input")), style: "white-space: inherit ! important;" do %>
                      <strong>Messages</strong>
                      <span class="badge small-badge pull-right margin-top-5">
                      </span>
                    <% end %>
                  </li>
                <% else %>
                  <li class="appear">
                    <%= link_to (conversation_path(current_user.conversations.sort_by { |c| c.messages.last.updated_at }.last, anchor: "message-input")) do %>
                      Messages
                    <% end %>
                  </li>
                <% end %>
              <% end %>
              <li><%= link_to 'Deconnexion', destroy_user_session_path, method: 'delete' %></li>
            </ul>
          </li>
          <li><%= link_to 'Publier une annonce', new_offer_path, class: "btn margin-left-10", id: "nav-btn" %></li>
        <% else %>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'Inscription', new_user_registration_path, class: "btn", id: "nav-btn-default" %></li>
            <li><%= link_to 'Connexion', new_user_session_path, class: "btn margin-left-10", id: "nav-btn-default" %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>