<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title><%= yield(:title) %></title>

  <!-- NO FOLLOW FOR TERMS -->
  <meta name="robots" content="<%= yield(:unfollow) %>">

  <!-- GOOGLE -->
  <meta name="description" content="<%= yield(:description) %>">
  <meta name="keywords" content="partage voisins location objets vente service proximité plateforme consommation collaborative sharing share love care">

  <!-- FACEBOOK -->
  <meta property="og:title" content="Lovely Hood - La plateforme de partage entre voisins">
  <meta property="og:image" content="http://lovely-hood.s3.amazonaws.com/production/users/pictures/000/000/002/medium/lh.png?1426271061">
  <meta property="og:description" content="A la recherche d'une perceuse, d'un appareil à raclette ou d'une combinaison de ski ? Vos voisins ont ça en stock, découvrez-les sur Lovely Hood.">
  <meta property="og:site_name" content="Lovely Hood"/>
  <meta property="fb:app_id" content="769209389798781"/>
  <meta property="fb:page_id" content="799307850092613"/>

  <!-- TWITTER -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@LvlyHood">
  <meta name="twitter:title" content="Lovely Hood - La plateforme de partage entre voisins">
  <meta name="twitter:description" content="A la recherche d'une perceuse, d'un appareil à raclette ou d'une combinaison de ski ? Vos voisins ont ça en stock, découvrez-les sur Lovely Hood.">
  <meta name="twitter:creator" content="@LvlyHood">
  <meta name="twitter:image:src" content="http://lovely-hood.s3.amazonaws.com/production/users/pictures/000/000/002/medium/lh.png?1426271061">
  <%= stylesheet_link_tag "application" %>
  <%= yield :stylesheets %>
  <%= favicon_link_tag %>
  <%= csrf_meta_tags %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-61018937-1', 'auto');
    ga('send', 'pageview');
  </script>
</head>
<body class=<%= @class ? @class : "" %>>
  <div class="bg-color" id="wrapper">
    <%= render "layouts/navbar" %>
    <%= yield %>
    <%= render "layouts/footer" %>
  </div>
  <%= javascript_include_tag "https://maps.google.com/maps/api/js?sensor=false" %>
  <%= javascript_include_tag "https://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js" %>
  <%= javascript_include_tag 'application' %>
  <%= yield :js %>
  <%= javascript_tag do %>
    notices();
  <% end %>
</body>
</html>
