<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "home" %>
  <%= yield :stylesheets %>
  <%= favicon_link_tag %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="white-bg" id="wrapper">
    <%= render "layouts/navbar" %>

    <div class="notices">
      <%= render "layouts/notices" %>
    </div>

    <%= yield %>

    <%= render "layouts/footer" %>
  </div>
  <%= javascript_include_tag 'application' %>
  <%= yield :js %>
  <%= javascript_tag do %>
    $(document).ready(function(e) {
    });
  <% end %>
</body>
</html>
