<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <!-- NO FOLLOW FOR TERMS -->
  <meta name="robots" content="<%= yield(:unfollow) %>">

  <!-- GOOGLE -->
  <meta name="description" content="<%= yield(:description) %>">
  <meta name="keywords" content="<%= yield(:keywords) %>">

  <!-- FACEBOOK -->
  <meta property="og:title" content="Lovely Hood - Location de biens et services de proximité">
  <meta property="og:image" content="lh.png">
  <meta property="og:description" content="Lovely Hood vous permet d'accéder à tous les biens et services proposés par des particuliers, à moins de 10 min à pied de chez vous ! Lovely Hood vous permet de gagner facilement de l'argent en louant ou en vendant vos biens, ou en proposant vos services à vos voisins !">
  <meta property="og:site_name" content="Lovely Hood"/>

  <!-- TWITTER -->
<!--   <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@Lewagonparis">
  <meta name="twitter:title" content="Le Wagon - The French innovative coding school">
  <meta name="twitter:description" content="Le Wagon is the best French coding school for entrepreneurs. Checkout by yourself the projects of our students. You will be impressed.">
  <meta name="twitter:creator" content="@Lewagonparis">
  <meta name="twitter:image:src" content="http://twitter-card.jpg"> -->

  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "map" %>
  <%= yield :stylesheets %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
</head>
<body>
  <div class="bg-color" id="wrapper">
    <%= render "layouts/navbar_map" %>

    <div class="notices">
      <%= render "layouts/notices" %>
    </div>

    <%= yield %>
  </div>

  <%= javascript_include_tag "https://maps.google.com/maps/api/js?sensor=false" %>
  <%= javascript_include_tag "https://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js" %>
  <%= javascript_include_tag 'application' %>
  <%= yield :js %>
  <%= javascript_tag do %>
    $(document).ready(function(e) {
      colorMessagesBadgeOnHover();
    });
  <% end %>
</body>
</html>
